<div class="content">
<% if @product.adult? && current_customer && current_customer.svod? && current_customer.svod_adult == 0 %>
  <%= t('tokens.new.svod_adult') %>
<% else %>
  <div  <%= @code && @code.white_label ? 'id="maincontent_no_border"' : 'id="maincontent"' %> >
    <div id="vod-wrap">
        <h2>
          <span id="vod_title"><%= h @product.description.title %> (<%= @product.year %>)<span>
        </h2>
        <% if @token and @token_valid %>
          <div id='time'><div id="vodtime"><%= t '.time_left' %> : <strong><%= time_left(@token, params[:kind]) %></strong></div></div>
        <% end %>
        <div class="clear"></div>
        <div id="presentation">
          <%= "<div class='prices'>#{t '.ppv', :price => @streaming.ppv_price}</div>" if @streaming.is_ppv %>
          <div id = 'image_vod'><%= product_image_tag @product.image, :alt => "#{@product.title} (#{@product.year})" %></div>
        </div>
        <div id='flow'>
        </div>
        <%= message_streaming(@token, @streaming_free, @streaming) if (ENV['HOST_OK'] == "0" && !current_customer.svod? && !@streaming.is_ppv && current_customer.svod_adult == 0) %>

        <% if @streaming_free == true %>
          <p align="center" class="choice_quality"><%= t '.streaming_free' %></p>
        <% end %>
        <% if @streaming.drm == true %>
          <p align="center"><%= t('.drm_forbidden_mobile') %></p>
        <% else %>
          <% if ENV['HOST_OK'] == "1" || !current_customer.payment_suspended? %>
          <% code_public = StreamingCode.find_by_name(params[:code]) %>
            <% if (@token && @token_valid) ||  (@streaming_free[:status] == true && @streaming_free[:available] == true) || (current_customer && current_customer.credits >= @streaming.credits) || (code_public && code_public.available?) || (@streaming.is_ppv) || (current_customer && current_customer.svod_adult > 0)  %>
              <% if @streaming_prefered.count > 0 || (@streaming_not_prefered && @streaming_not_prefered.count > 0) %>
              <p class="attention">
                <%= t('.attention', :url => streaming_products_sample_path) %>
              </p>
              <p class="choice_question">
                <%= t '.title' %>
              </p>
            
              <%= render :partial => '/streaming_products/show/versions', :locals => {:version => @streaming_prefered, :source => params[:source], :response_id => params[:response_id]} %>
              <p class="intro_vod">
                <%= t 'streaming_products.show.kinds_alpha.reminder', :hours => DVDPost.hours[params[:kind]] if current_customer && !current_customer.svod_adult == 0 %>
              </p>
              <% end %>
            <% end %>
        
          <% end %>
        <% end %>
  </div>
<% end %>
</div>
