<div id="contact-wrap">
  <%= render :partial => 'messages/menu' %>
  <div id="tabs-content">
    <h3>
      <span><% @message.created_at.strftime("%d/%m/%Y") %></span>
      <% if @message.title %>
        <%= h @message.title %>
      <% else %>
         <%= h (t("message.show.category_#{@message.category_ticket_id}")) if @message.category_ticket %>
      <% end %>
    </h3>
    <div class="content">
      <% message = params[:all] ? @message.message_tickets.ordered : @message.message_tickets.ordered.limit(3) %>
      <% total = @message.message_tickets.count %>
      <% if !params[:all] && total > 3 %>
        <%= link_to 'show all', message_path(:id => params[:id], :all => 1)%>
      <% end %>
      <%= render :partial => '/messages/show/dialog', :collection => message.reverse %>
    </div>
    <div>
      <% form_for :message_ticket, :url => ticket_message_tickets_path(:ticket_id => @message.to_param) do |f| %>
        répondre<br />
        <%= f.text_area 'message',:cols => 100, :rows => 10 %><br />
        <% content_tag :button, :type => :submit do %>
          <%= t '.send' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>