<div class="modal-window-content">
  <h3>
    <span><% @message.created_at.strftime("%d/%m/%Y") %></span>
    <% if @message.title %>
      <%= h @message.title %>
    <% else %>
      <%= h @message.category_ticket.name if @message.category_ticket %>
    <% end %>
  </h3>
  <div class="content">
    <%= render :partial => '/messages/show/dialog', :collection => @message.message_tickets %>
  </div>
  <div>
    <% form_for :message_ticket, :url => ticket_message_tickets_path(:ticket_id => @message.to_param) do |f| %>
      nouveau message
      <%= f.text_area 'message' %>
      <% content_tag :button, :type => :submit do %>
        <%= t '.send' %>
      <% end %>
    <% end %>
  </div>
</div>
