<div id="faqsvod">
  <div style="float:left;"><%= image_tag 'women.jpg' %></div>
  <div style="float:right; width: 425px">
    <h2><%= t '.new' %></h2>
      <div><%= t '.description' %></div>
      <h3><%= t '.h3' %></h3>
      <ul>
        <li><%= t '.d1' %></li>
        <li><%= t '.d2' %></li>
        <li><%= t '.d3' %></li>
        <li><%= t '.d4' %> (<%= link_to t('.info'), streaming_products_faq_path() %>) </li>
      </ul>
      <div class="abosvod">
        <span class="<%= current_customer && current_customer.svod_adult > 0 ? 'check' : 'check-off' %>"><span></span>
        <%= link_to t('.price'), edit_customers_svod_path, :class => 'launch_popup' %>
      </span>
    </div>
    <div align="center" style="padding-top:30px;">
      <%= link_to current_customer ? t(".btn_#{current_customer.svod_adult}") : t('.start'), edit_customers_svod_path, :class => 'launch_popup button ' %>
    </div>



  </div>

  <div class="clearfix"></div>
  <div class="faq">
    <div style="float:left; width:500px;">
      <h3><%= t '.faq' %></h3>
      <h4><%= t '.q1' %></h4>
      <p><%= t '.r1', :link1 => link_to("<strong>Digital Playground</strong>", studio_products_path(:studio_id => 154)), :link2 => link_to("<strong>Marc Dorcel</strong>", studio_products_path(:studio_id => 147)), :link3 => link_to("<strong>Combat Zone</strong>", studio_products_path(:studio_id => 443)) %></p>
      <h4><%= t '.q2' %></h4>
      <p><%= t '.r2' %></p>
      <h4><%= t '.q3' %></h4>
      <p><%= t '.r3' %></p>
      <h4><%= t '.q4' %></h4>
      <p><%= t '.r4', :link => price_link(current_customer) %></p>
    </div>
    <div style="float:right; width:348px; background-color:#C3D1DB; padding:10px; margin-top:10px;">
      <div class="studios"> 
        <%= link_to image_tag('digital-playground.jpg'), studio_products_path(:studio_id => 154) %>
      </div>
      <div class="studios"> 
        <%= link_to image_tag('dorcel.jpg'), studio_products_path(:studio_id => 147) %>
      </div>
      <div class="studios"> 
        <%= link_to image_tag('wicked.jpg'), studio_products_path(:studio_id => 176) %>
      </div>
      <div class="studios"> 
        <%= link_to image_tag('combatzone.jpg'), studio_products_path(:studio_id => 443) %>
      </div>
      <div class="studios"> 
        <%= link_to image_tag('elegant-angel.jpg'), studio_products_path(:studio_id => 371) %>
      </div>
      <div class="studios"> <%= image_tag 'etc.jpg' %></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

