<br />
<div>
  <div>
    <%= image_tag "#{DVDPost.images_path}/themes/#{I18n.locale}/banner_page/#{theme.id}.jpg", :width => 970 %>
  </div>
  <div class="category_theme">
    <% @list.collect do | item |%>
    <span>
    <h3 style="background: url(<%= "#{DVDPost.images_path}/themes/#{I18n.locale}/title_page/#{theme.id}.jpg" %>) no-repeat left bottom"><%= item.name %></h3>
    </span>
    <div class="selection_theme" style="border:1px solid <%= theme.page_border_color %>;" id ="carousel">
      <ul>
        <%= render :partial => 'themes_events/product', :collection => item.products %>
      </ul>       
      <div style="clear:both"></div>
    </div>                
    <% end %>                                     
  </div>
</div>