<br />
<div>
  <div>
    <%= image_tag item.image_header, :width => 970 %>
  </div>
  <div class="category_theme">
    <% @list.collect do | item |%>
    <span>
    <h3 style="background: url(<%= theme.image_title %>) no-repeat left bottom"><%= item.name %></h3>
    </span>
    <div class="selection_theme" style="border:1px solid <%= theme.page_border_color %>;" id ="carousel">
      <ul>
        <%= render :partial => 'themes_events/product', :collection => item.products %>
      </ul>       
      <div style="clear:both"></div>
    </div>                
    <% end %>                                     
  </div>
</div>