<% if @product.adult? && current_customer && current_customer.svod? && current_customer.svod_adult == 0 %>
  <%= t('tokens.new.svod_adult') %>
<% else %>
  <div  <%= @code && @code.white_label ? 'id="maincontent_no_border"' : 'id="maincontent"' %> >
    <div id="vod-wrap">
        <h2>
          <span id="vod_title"><%= h @product.description.title %> (<%= @product.year %>)<span>
        </h2>
        <%=  "<h3 class='vl'>Powered by</h3>".html_safe if @streaming.videoland? %>
        <% if @token and @token_valid %>
          <div id='time'><div id="vodtime"><%= t '.time_left' %> : <strong><%= time_left(@token, params[:kind]) %></strong></div></div>
        <% end %>
        <div class="clear"></div>
        <div id="presentation">
          <%= "<div class='prices'>#{t '.ppv', :price => @streaming.ppv_price}</div>" if @streaming.is_ppv %>
          <div id = 'image_vod'><%= product_image_tag @product.image, :alt => "#{@product.title} (#{@product.year})" %></div>
        </div>
        <div id='flow'>
        </div>
        <a id='player' class='normal'>
        </a>
        <%= message_streaming(@token, @streaming_free, @streaming) if (ENV['HOST_OK'] == "0" && !current_customer.svod? && !@streaming.is_ppv && current_customer.svod_adult == 0 && @streaming.studio_id == 147) %>

        <% if @streaming_free == true %>
          <p align="center" class="choice_quality"><%= t '.streaming_free' %></p>
        <% end %>
        <% if ENV['HOST_OK'] == "1" || !current_customer.suspended? %>
        <% code_public = StreamingCode.find_by_name(params[:code]) %>
          <% if (@token && @token_valid) ||  (@streaming_free[:status] == true && @streaming_free[:available] == true) || (current_customer && current_customer.credits >= @streaming.credits && !@streaming.is_ppv) || (code_public && code_public.available?) || (@streaming.is_ppv && current_customer && current_customer.ppv_status_id == 1) || (current_customer && current_customer.svod_adult > 0  && @streaming.studio_id == 147) %>
            <% if @streaming_prefered.count > 0 || (@streaming_not_prefered && @streaming_not_prefered.count > 0) %>
              <div class="choice_language">

                <h3><%= t('.version_title') %></h3>
                <div id="choice_new">
                  <div id="step1" class="step" style="width:696px;height:120px">
                    <%= render :partial => '/streaming_products/show/audios', :locals => {:streaming => @streaming_prefered, :sample => false, :source => params[:source], :response_id => params[:response_id]} %>
                  </div>
                  <div id="step2" class="step">
                  </div>
                  <div id="step3" class="step">
                  </div>
                </div>
                <p  class="info_vod" >
                  <%= link_to t('.all_versions'), streaming_product_versions_path(:streaming_product_id => params[:id], :code => params[:code], :source => params[:source], :response_id => params[:response_id]), :id => :all_versions %>
                  <br /><br />

                </p>
            </div>
            <p class="intro_vod">
              <%= t 'streaming_products.show.kinds_alpha.reminder', :hours => DVDPost.hours[params[:kind]] if current_customer && !(current_customer.svod_adult > 0  && @streaming.studio_id == 147) %>
            </p>
            <% end %>
          <% end %>

        <% end %>
        <div id="all_versions_data">

        </div>
        <% if ENV['HOST_OK'] == "0" && current_customer.abo_active == 0 && current_customer.beta_test %>
          <p align ="center"><%= link_to(image_tag("#{DVDPost.images_path}/free_movies/banner_relance_fr.jpg"), info_path(:page_name => :promotion)) %></p>
        <% end %>
        <% if @code.nil? || (@code && !@code.white_label) %>
        <div class="linkpc">
          <div class="icon_left">
            <%= image_tag icon_tv, :align => :absmiddle, :alt => 'icon tv' %>
            <%= link_to t('.connected'), info_path(:page_name => 'get_connected'), :class => 'connect_linkpc' %><br />
            <%= image_tag icon_infos, :align => :absmiddle, :alt => 'icon info' %>
            <%= link_to t('.info'), streaming_products_faq_path(), :class => 'connect_linkpc' %>
          </div>
          <div class="icon_right">
              <%= image_tag icon_survey, :align => :absmiddle, :alt => 'icon poll' %>
              <a href='<%= DVDPost.streaming_poll_url[I18n.locale] %>' target='_blank' class='connect_linkpc'><%= t '.poll' %></a><br />
              <%= image_tag icon_problem, :align => :absmiddle, :alt => 'icon problem' %>
              <%= link_to t('.alert'), new_phone_request_path(:reason => 5), :class => :connect_linkpc %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="end"></div>
    <div id='flash_problem' style='display:none'>
      <%= t('.no_flash', :link => DVDPost.flash_player_link) %>
    </div>

    <% if params[:warning].to_i == 1 && (@token.nil? || !@token_valid ) && (current_customer && !current_customer.svod? && !(current_customer.svod_adult > 0 && @streaming.studio_id == 147)) %>
      <div id='warning' style='display:none'><%= new_product_token_path(:product_id => @product.to_param, :imdb_id => @product.imdb_id, :btn => :hide) %></div>
    <% end %>
  </div>
  <div style="display:none" id="returnStatus"></div>
  <div style="display:none" id ="product_id"><%= @product.id %></div>
  <div style="display:none" id ="drm">0</div>
<% end %>