<ul>
  <% if product.director %>
    <li>
      <strong>
        <%= "#{t('.directed_by')} #{link_to product.director.name, director_movies_path(:director_id => product.director.to_param)}" %>
      </strong>
    </li>
  <% end %>

  
  <% actors = product.actors.collect{|actor| link_to actor.name, actor_movies_path(:actor_id => actor.to_param) }.join(', ') %>
  <% if actors %>
  <li>
    <strong>
      <%= t '.actors' %>
    </strong>
    <%= actors %>
  </li>
  <% end %>
  <li>
    <strong>
      <%= t '.genre' %>
    </strong>
    <% if params[:kind] == :adult %>
      <%= Movie.find(params[:id]).categories.collect{|category| link_to category.name, category_movies_path(:category_id => category)}.join(', ') %>
    <% else %>
      <%= Movie.find(params[:id]).categories.active.collect{|category| link_to category.name, category_movies_path(:category_id => category)}.join(', ') %>
    <% end %>
  </li>
  <li>
    <strong>
      <%= t '.country' %>
    </strong>
    
  </li>
  <li>
    <strong>
      <%= t '.audience' %>
    </strong>
    
  </li>
</ul>




<div class="cover">
  <span id="dvd">
    <%= product_image_tag @product_image, :width => 143, :height => 218, :alt => "#{@product_title} )" %>
  </span>
  
</div>
