<div class="cover">
  <span id="<%= product.vod? ? 'vod' : product_media_id(product.media) %>">
    <%= product_image_tag @product_image, :width => 143, :height => 218, :alt => "#{@product_title} (#{product.year})" %>
    <%= content_tag(:span, '', :class => 'new') if product.is_new? %>
  </span>
  <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :long, :source => @source} %>
  <% if product.streaming? and streaming_access? %>
    <% credits = product.streaming_products.first.credits %>
    <%= render :partial => 'products/streaming', :locals => {:product => product, :token => @token} %>
    <%= render :partial => 'products/credit_vod', :locals => {:credits => credits} if credits > 1 %>
  <% end %>
</div>
<div id="movie-info" class="<%= @product.streaming? ? 'height-stream' : 'height-classic' %>">
<% if product.availability == -1 %>
<div id="not_available" class="<%= I18n.locale %>">
  <div id='not_available_title'><%= t '.not_available' %></div>
  <div id='not_available_description'><%= t '.not_available_description' %></div>
</div>
<% end %>


<ul>
  <% if product.director %>
    <li>
      <strong>
        <%= "#{t('.directed_by')} #{link_to product.director.name, director_movies_path(:director_id => product.director.to_param)}" %>
      </strong>
    </li>
  <% end %>

  
  <% actors = product.actors.collect{|actor| link_to actor.name, actor_movies_path(:actor_id => actor.to_param) }.join(', ') %>
  <% if actors %>
  <li>
    <strong>
      <%= t '.actors' %>
    </strong>
    <%= actors %>
  </li>
  <% end %>
  <li>
    <strong>
      <%= t '.genre' %>
    </strong>
    <% if params[:kind] == :adult %>
      <%= Movie.find(params[:id]).categories.collect{|category| link_to category.name, category_movies_path(:category_id => category)}.join(', ') %>
    <% else %>
      <%= Movie.find(params[:id]).categories.active.collect{|category| link_to category.name, category_movies_path(:category_id => category)}.join(', ') %>
    <% end %>
  </li>
  <li>
    <strong>
      <%= t '.country' %>
    </strong>
    
  </li>
  <li>
    <strong>
      <%= t '.audience' %>
    </strong>
    
  </li>
</ul>
<p class="links">
  <% if trailer = product.trailer %>
    <%= link_to(t('.trailer'), movie_trailer_path(:movie_id => product.to_param), {:class => 'trailer', :target => :_blank}) %>
  <% end %>
</p>

<<<<<<< HEAD



<div class="cover">
  <span id="dvd">
    <%= product_image_tag @product_image, :width => 143, :height => 218, :alt => "#{@product_title} )" %>
  </span>
  
</div>
=======
<p>
  <strong>
    <%= t '.image' %>
  </strong>
  <%= product.picture_format.name if product.picture_format %><br />
  <strong>
    <%= t '.sound' %>
  </strong>
  <%= product.soundtracks.collect{|soundtrack| soundtrack.name}.join(', ') %>
</p>
<% if product.next == 1 and product.available_at%>
<p>
  <strong>
    <%= t '.available' %>
  </strong>
  <%= product.available_at.strftime("%d/%m/%Y") if product.available_at %>
</p>
<% end %>

<% unless product.adult? %>
<iframe src="http://www.facebook.com/plugins/like.php?href=<%= CGI::escape(@public_url) %>&amp;layout=standard&amp;show_faces=true&amp;width=400&amp;action=recommend&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:80px;" allowTransparency="true"></iframe>
<% end %>
</div>
>>>>>>> 6d1ff797c09afca4fb6a70ff8dab5af2dc242b1a
