<div id="carousel-wrap">
<h3><%= t '.title' %></h3>
<% if products && products.size > 0 %>
<div class="jcarousel-skin-tango">
  <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block; ">
    <div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative; ">
      <ul class="jc osc jcarousel-list jcarousel-list-horizontal" id='home_recommendations'>
        <%= render :partial => 'products/show/recommendation_product', :collection => products %>
      </ul>
    </div>
  </div>
</div>
<div class="pagination arrow_left">
  <%= will_paginate products, :previous_label => '', :next_label => '', :page_links => false, :container => false,  :param_name => :recommendation_page %>
</div>
<span class="jc-items"><%= "#{recommendation_page} of #{recommendation_nb_page}" %></span>
<div class="pagination arrow_right">
  <%= will_paginate products, :previous_label => '', :next_label => '', :page_links => false, :container => false, :param_name => :recommendation_page %>
</div>

<% else %>
  <p class='error'>
    <%= products == false ? t('.recommendations_unavailable') : t('.recommendations_empty') %>
  <p>
<% end %>
</div>