<div id="messages">
  <div id="header_messages">
    <h3> <%= t '.recipient' %> </h3>
  </div>
    <table cellspacing="0" cellpadding="0" border="0" id ='table_message'>
      <colgroup>
        <col id="ids" />
        <col id="cats" />
        <col id="date" />
      </colgroup>
    <tbody>
      <tr>
        <th width="50" align="left">ID</th>
        <th width="659"></th>
        <th width="130" align="left"> 
          <div id="bysort">
            <div class="bysort_message"><%= t '.sort' %> : </div>
            <form action='<%= messages_path() %>' id='sort_form'>
              <select name="sort" id="sort_combo">
                <option  value="normal" value=''><%= t '.by_answer' %></option>
                <option <%= params[:sort] && params[:sort].to_sym == :ticket ? 'selected="selected"' : '' %> value="ticket"><%= t '.by_ticket' %></option>
              </select>
            </form>
          <div style="clear: both;"></div>
        </div>
      </th>
    </tr>
    <%= render :partial => '/messages/index/message', :collection => messages %>
    </tbody>
  </table>
  <%= will_paginate messages, :class => 'products-pagination', :previous_label => '&nbsp;', :next_label => '&nbsp;' %>
</div>