<div id="hp-content">
  <div id="toggle-link">
    <%= link_to t('.Withdrawal'), info_path(:page_name => 'withdrawal_period'), :class => :add_to_wishlist_button %> - 
    <%= link_to t('.info'), info_path(:page_name => 'buy'), :class => :add_to_wishlist_button %>
    
  </div>
  <!-- Vente Flash -->
  <div id="vente-flash" class="<%= I18n.locale %>">
    <%= !@items.empty? ? render(:partial => 'shops/carts', :locals => {:cart_count => @cart_count, :cart => @cart, :shipping => @shipping, :price => @total, :reduce => @reduce}) : '' %>
    
  </div>
  <!-- Products -->
  <h2><p><%= !@items.empty? ? t('.full') : t('.empty') %></p></h2>
  <ul id="products-wrap">
    <%= render :partial => 'products/shop', :collection => @items %>      
  </ul>
</div>