<div id="actrice-semaine-wrap" class="clearfix">
  <div id="actrice-semaine">
    <h3 class="miso"><%= t('.actor_week') %></h3>
    <% link_to actor_products_path(:actor_id => actor.to_param, :week => 1) do %>
      <%= image_tag actor.image, :title => actor.name, :width => 122, :height => 168, :class => "pie" %> </div>
    <% end %>
  <!-- filmographie -->
  <div id="filmographie">
    <h2 class="miso"><%= actor.name %> <span>(<%= actor.products.adult_available.count %> films)</span></h2>
    <ul>
      <%= render :partial => "/home/index/product_adult", :collection => actor_week_product %>
    </ul>
    <div class="links"><%= link_to 'Voir toute sa filmographie', actor_products_path(:actor_id => actor.to_param, :all => 1) %></a></div>
  </div>
</div>
