    <div id="tab-content-4" class="tab-content pie">
      <h3><%= t '.title' %> </h3>
      <div id="positions" class="clearfix">
	<!-- Classement de la semaine -->
		<div id="weekly-position">
			<h4><%= t '.title_sub1' %></h4>
			<ul class="content_item_month">
			  <%= render :partial => "home/index/best_customer_item_month", :collection => data_month %>
			</ul>
		  <%= render :partial => "home/index/pagination", :locals => {:data => data_month, :kind => DVDPost.home_review_types.invert["BEST_CUSTOMER"], :precision => :month} %>
		</div>
		<!-- Classement toute période -->
		<div id="period-position">
			<h4><%= t '.title_sub2' %></h4>
			<ul class="content_item_all">
			  <%= render :partial => "home/index/best_customer_item_all", :collection => data_all %>
			</ul>
			
			<%= render :partial => "home/index/pagination", :locals => {:data => data_all, :kind => DVDPost.home_review_types.invert["BEST_CUSTOMER"], :precision => :all} %>
			
		</div>

  </div>
</div>