  <% customer = best_customer_item_all.customer %>
  <% reviews_count = best_customer_item_all.reviews_count %>
  <% rating_count = best_customer_item_all.ratings_count %>
	<li>
		<span class="count"><%= best_customer_item_all.rank %></span>
		<div class="content">
      <h2>
        <%= link_to customer.customer_attribute.nickname, customer_reviews_path(:customer_id => customer.customers_id), :class => :nickname  %>
      </h2>
      <%= customer_awards(customer, customer.customer_attribute.points) %>
			<% if reviews_count > 0 %>
			  <p>
			    <%= rating_count %> <%= rating_title(rating_count) %>  |   
			    <%= link_to "#{reviews_count} #{review_title(reviews_count)}", customer_reviews_path(:customer_id => customer.to_param), :class => :critics %> 
			  </p>
			<% else %>
		    <p><%= rating_count = customer.ratings.count %> <%= rating_title(rating_count) %></p>
		  <% end %>
		</div>
		<%= new_position(best_customer_item_all) %>
		<%= link_to image_tag (get_avatar(customer), :alt => 'user-thumb', :title => 'user-thumb', :width => 56), customer_reviews_path(:customer_id => customer.customers_id) %>
	</li>
