<% customer = best_customer_item_month.customer %>
<li>
	<span class="count"><%= best_customer_item_month.rank %></span>
	<div class="content">
		<h2><%= link_to customer.nickname, customer_reviews_path(:customer_id => customer.customers_id), :class => :nickname %></h2>
		<%= customer_awards(customer, customer.customer_attribute.points) %>
		<% if best_customer_item_month.reviews_count > 0 %>
		  <p><%= best_customer_item_month.ratings_count %> <%= t 'home.reviews.rating' %> |  <%= best_customer_item_month.reviews_count %> <%= t 'home.reviews.critics' %> </p>
		  <%= link_to t('home.reviews.all_critics'), customer_reviews_path(:customer_id => customer.to_param), :class => :left_review %>
		<% else %>
	    <p><%= best_customer_item_month.ratings_count %> <%= t 'home.reviews.rating' %></p>
	  <% end %>
	</div>
	<%= new_position(best_customer_item_month) %>
	<%= link_to image_tag (customer.image, :alt => 'user-thumb', :title => 'user-thumb', :width => 46), customer_reviews_path(:customer_id => customer.customers_id) %>
</li>
