<% product = best_item.product %>
<% if product %>
  <% product_title = product.title%>
  <% count_critique = product.reviews.by_language(I18n.locale).approved.count %>
  <li>
    <h2><%= link_to product_title, product_path(:id => product.to_param) %></h2>
    <div class="content"> 
      <%= review_image_links(product.rating) %>
    <div><%= product.rating_count %> cotations 
    <% if count_critique > 0 %>
      | <%= count_critique %> critiques
    <% end %>
    </div>
    <%= link_to "Voir toutes les critiques", product_path(:id => product.to_param), :class => 'view-all' %>
    <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :short, :source => @wishlist_source[:best_reviews]} %>
    </div>
    <div class="thumb"> 
      <%= link_to product_image_tag(product.image, :width => 76, :height => 116, :alt => "#{product_title} (#{product.year})"), product_path(:id => product.to_param) %>
      <div class="stat-wrap">
        <h4><%= best_item.rank %></h4>
        <%= new_position(best_item) %>
      </div> 
    </div>
  </li>
<% end %>