<% if  ENV['HOST_OK'] == "1" %>
<% carousel_item = carousel[rand(carousel.count)] %>

<% path = ENV['HOST_OK'] == "1" ? php_path(!session[:code].nil? ? 'step1.php?activation_code=' + session[:code]  : 'step1.php') : carousel_path(carousel_item) %>
<% link = ENV['HOST_OK'] == "1" ? t('home.index.carousel_item.public') : t("home.index.carousel_item.link_#{carousel_item.id}") %>
<% name = t("home.index.carousel_item_title.title_#{carousel_item.id}") %>
<% description = t("home.index.carousel_item.name_#{carousel_item.id}") %>
<% image = image_tag(carousel_item.image, :alt => name, :size => '932x328') %>



<div id="image_promo">
  <ul id="output">
    <li>
      <div class="intro">
        <h1><%= t '.intro1' %></h1>
        <h2><%= t '.intro2' %></h2>
      </div>
      <div class="caption osc">
        <h2><%= name %></h2>
        <h4>
          <%= description %>
        </h4>
      </div>
      <div id="try_it">
        <a href="<%= path %>" class="essaigratuit osc btn"><%= t '.try' %></a>
        <div id="code"><%= t '.promo', :url => edit_public_promotion_path() %></div>
      </div>
      <a href="<%= path %>"><%= image %></a>
    </li>
  </ul>
</div>
<% else %>
<div id="featurelist-slider">
  <ul class="tabs osc">
    <%= render :partial => '/home/index/carousel_thumbs', :collection => carousel %> 
  </ul>
  <ul id="output">
    <%= render :partial => '/home/index/carousel_item', :collection => carousel %>
  </ul>
</div>
<% end %>