

<div id="nina-wrap">
 	<h3><%= image_tag "banner_chroniques_#{I18n.locale}.png" %></h3>
 	<div id='nina-content'>
    <p><%= t '.details' %></p>
    <h4><strong><%= t '.title' %></strong></h4>
      <% chronicles.each do |chronicle| %>
        <% path = chronicle_path(:id => chronicle.to_param) %>
        <% content = chronicle.contents.by_language(I18n.locale).first %>
        <div id="focus-wrap">
          <p>
            <%= link_to image_tag(content.cover.url(:small), :width => "79x105"), path %>
            <span class="osc"><%= "#{t("chronicles.menu.cat_#{chronicle.category.to_param}")} :<br /> #{content.title}" %></span> 
            <%= truncate_html(content.description.gsub(/<\/?.*?>/, ""), :length => 100) %>
          </p>
          <%= link_to t('.read_more'), path, :class => :osc %>
        </div>
      <% end %>
  
  
    <%= link_to t('.all'), chronicles_path, :class => "more osc" %>
  </div>
 	
</div>