<% product = product_adult %>
<li> 
  <span class="rating" id="rating-stars-<%= product.to_param %>" product_id ="<%= product.to_param %>">
    <%= render :partial => 'products/rating', :locals => {:product => product, :background => :pink, :size => :small} %>
  </span> 
  <%= product_image_tag product.image, :width => 76,:height=> 118, :alt => "#{product.title} (#{product.year})" %>
  <h3><%= link_to product.title, product_path(:id => product.to_param), :class => 'more'  %></h3>
  <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :short, :source => @wishlist_source[:elsewhere]} %> 
</li>