<% class_name = params[:selection_kind] || @default %>
<% product = product_selection_week %>
<% name = "#{I18n.locale}/products/selection_new10_#{ENV['HOST_OK']}_#{class_name}_#{product.id}" %>
<% name_path = "views/#{name}" %>
<% cache name do %>
  <% data = product.description_data(true) %>
  <% product_title = data[:title] %>
  <% product_image = data[:image] %>
  <% description = data[:description] %>
  <li class="jcarousel-item jcarousel-item-horizontal">
  	<h3><%= link_to truncate(product_title, :length => 30), product_path(:id => product.to_param) %></h3>
  	<%= link_to image_tag(product.image_detail, :size => '178x100', :alt => product_title), product_path(:id => product.to_param, :source => @wishlist_source[:week_selection]) %>
    <h4><%= product.categories.active.first.name unless product.categories.active.empty? %></h4>
    <p><%= truncate(description.text, :length => 120) %></p>
    <%= link_to(t('.trailer'), product_trailer_path(:product_id => product.to_param), :class => 'osc trailer', :target => :_blank) if product.trailer %>
  </li>
<% end %>
