<div id="nouveautes">
  <div class="ttl"><%= t('.title') %><%= link_to t('.all'), products_path(:view_mode => :recent)%></div>
  <ul>
    <% products.collect do |product| %>
    <% path = product_path(:id => product.to_param, :source => @wishlist_source[:new]) %>
      <li class="clearfix"> 
        <%= link_to(image_tag(product.preview_image(7, params[:kind]), :width => 230, :height => 162), path) %>
        <h3><strong><%= link_to product.title, path %></strong></h3>
        <div class="right"> 
          <span class="rating" id="rating-stars-<%= product.to_param %>" product_id ="<%= product.to_param %>">
            <%= render :partial => 'products/rating', :locals => {:product => product, :background => :pink, :size => :small, :source => @wishlist_source[:new]} %>
          </span>
        </div>
        <div class="clear"></div>
        <div style='width:100%'> 
          <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :short, :source => @wishlist_source[:new], :response_id => nil} %>
          <% token = current_customer ? current_customer.get_token(product.imdb_id) : nil %> 
          <%= render :partial => 'products/streaming', :locals => {:product => product, :token => token, :text => :short, :source => @wishlist_source[:new], :response_id => nil} if product.streaming?(params[:kind], session[:country_id]) and streaming_access? %>
        </div>
      <span class="new"></span> </li>
    <% end %>
  </ul>
</div>