<% product = product_selection_week %>
<% data = product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>
<% description = data[:description] %>
<li>
  <h3><%= product_title %></h3>
  <div class="wrap">
    <h4><%= product.categories.active.first.name unless product.categories.active.empty? %></h4>
    <p><%= truncate(description.text, :length => 120) %> </p>
    <%= link_to(t('.trailer'), product_trailer_path(:product_id => product.to_param), :class => 'more', :target => :_blank) if product.trailer %> 
    <%= image_tag product.image_detail, :class=>"thumb", :width => 107 %> 
  </div>
</li>