<!-- Services -->
<div id="services-wrap">
  <div id="bluray-dvd" class="wrap">
    <h3><%= t '.dvd' %></h3>
    <p><%= t '.dvd_text' %></p>
    <ul class="osc">
      <li>
        <%= link_to t('.dvd_link'), products_path() %>
      </li>
    </ul>
  </div>
  <div id="vod-ppv" class="wrap">
    <h3>VOD</h3>
    <p><%= t '.vod_text' %></p>
    <ul class="osc">
      <li>
        <%= link_to t('.vod_link'), products_path(:view_mode => :streaming)%>
      </li>
    </ul>
  </div>
  <div id="apps">
    <h3><%= t '.ipad' %></h3>
    <%= link_to image_tag('apps.png', :size => '212x63', :alt => "ipad info"), info_path(:page_name => 'ipad_iphone') %>
    <ul class="osc">
      <li>
        <%= link_to t('.ipad_link'), info_path(:page_name => 'ipad_iphone') %>
      </li>
    </ul>
  </div>
</div><!-- #services-wrap -->
