
<div id="sub-footer" class="osc">
  	<h2><%= t('.title') %></h2>
      <ul>
      	<li>
      	  <a href="<%= themes_path %>">
      	    <%= image_tag "http://www.dvdpost.be/images/quick_link/2.jpg", :size => "223x114", :alt => t('.quick_link_2') %> <%= t('.quick_link_2') %>
      	  </a>
      	</li>
        <li>
          <a href="<%= DVDPost.fb_url[I18n.locale] %>">
            <%= image_tag "http://www.dvdpost.be/images/quick_link/3.jpg", :size => "223x114", :alt => t('.quick_link_3') %> <%= t('.quick_link_3') %>
          </a>
        </li>
        <% if current_customer %>
        <li>
          <a href="<%= shop_path %>">
            <%= image_tag "http://www.dvdpost.be/images/quick_link/5_#{I18n.locale}.jpg", :size => "223x114", :alt => t('.quick_link_5') %> <%= t('.quick_link_5') %>
          </a>
        </li>
        <% else %>
        <li>
          <a href="<%= sponsorships_path %>">
            <%= image_tag "http://www.dvdpost.be/images/quick_link/4.jpg", :size => "223x114", :alt => t('.quick_link_4') %> <%= t('.quick_link_4') %>
          </a>
        </li>
        <% end %>
        <li>
          <a href="<%= root_path(:kind => :adult) %>">
            <%= image_tag "http://www.dvdpost.be/images/quick_link/1.jpg", :size => "223x114", :alt => t('.quick_link_1') %> <%= t('.quick_link_1') %>
          </a>
        </li>
      </ul>
  </div><!-- #sub-footer -->