<div id="user-movies-wrap">
      <!-- Cinéma pour Maud -->
      <div id="user-movies">
        <h3><%= link_to t('.recommendation', :firstname => current_customer.customers_firstname), products_path(:view_mode => :recommended) %></h3>
        <ul>
          <% i = 0 %>
          <% recommendations.collect do |item| %>
          <% i = i + 1 %>
          <% path = product_path(:id => item.to_param, :source => @wishlist_source[:recommendation]) %> 
          <li>
            <a href="<%= path %>" class="tooltips_item" id='product_<%= item.to_param %>' style="height:60px; display:block">
              <%= image_tag item.image, :width => 60 %>
            </a>
            <div class="tooltip tooltip_items" id="product_<%= item.to_param %>_popup" style ='display:none'>
              <h4><%= item.title %> (<%= item.year %>) 
                <span class="stars" id="rating-stars-<%= item.id %>" product_id="<%= item.id %>">
                  <%= render :partial => 'products/rating', :locals => {:product => item, :background => :white, :size => :small} %>
                </span>
              </h4>
              <p>
                <%= image_tag item.image, :class => :tool_float, :width => 120 %>
                <div class="tool_right">
                <p class="synopsis"><%= t 'products.show.synopsis' %></p>
                <%= truncate_html item.description.text, :length => 300 %>
                <span class="infos">
                  <%= link_to t('.more'), path %>
                </span>
                <% path = item.imdb_id > 0 ? products_path(:imdb_id => item.imdb_id) : path %>
                <span class="ajouter">
                  <%= link_to t('.add'), path %>
                </span>
                <% if item.in_streaming_or_soon? && streaming_access? %>
                  <% if item.streaming? %>
                    <%= render :partial => 'products/streaming', :locals => {:product => item, :token => @token } %>
                  <% end %>
                <% end %>
                <div class="action">
                  <% if current_customer %>
                  <div class="links" id="seen-uninterested-<%= item.to_param %>">
                    <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => item} %>
                  </div>
                  <% end %>
                </div>
              </p>
            </div>
          </li>
          <% 1==1 #to do break if i == 12 && !not_rated_product.nil? %>
          <% end %>
          
        </ul>
        <a href="?tool_tips=1" class="info tooltips" id='recommendation_info'>
          <%= image_tag 'icon_info_home.png', :alt => "Info" %>
        </a>
        <p align="center">
          <%= link_to t('home.index.recommendations.see_all'), products_path(:view_mode => :recommended) %>
        </p>
        <!-- Tooltip -->
        <div class="tooltip" id="recommendation_info_popup" style ='display:none'>
          <h4><%= t('.tooltip_title') %></h4>
          <p><%= t('.tooltip_description') %></p>
        </div>
      </div>
      <%= render :partial => '/home/index/wishlist_rating', :locals => {:product => not_rated_product} if 1==0 && !not_rated_product.nil? %>
    </div>