<div class="right">
  <h3><%= link_to t('.recommendation', :firstname => current_customer.customers_firstname), products_path(:view_mode => :recommended) %></h3>
  <ul>
          <% recommendations.collect do |item| %>
            <% data = item.description_data(true) %>
            <% product_title = data[:title] %>
            <% product_image = data[:image] %>
            <% description = data[:description] %>
            <% path = product_path(:id => item.to_param, :source => @wishlist_source[:recommendation_hp], :response_id => @response_id) %> 
            <li>
              <a href="<%= path %>" class="tooltips_item" id='product_<%= item.to_param %>' response_id = "<%= @response_id %>" style="height:60px; display:block">
                <%= image_tag product_image, :width => 60 %>
              </a>
              <div class="tooltip tooltip_items" id="product_<%= item.to_param %>_popup" response_id = "<%= @response_id %>" style ='display:none'>
                <h4><%= product_title %> (<%= item.year %>) 
                  <span class="stars" id="rating-stars-<%= item.id %>" product_id="<%= item.id %>">
                    <%= render :partial => 'products/rating', :locals => {:product => item, :background => :white, :size => :small, :response_id => @response_id, :source => @wishlist_source[:recommendation_hp]} %>
                  </span>
                </h4>
                <p>
                  <%= image_tag product_image, :class => :tool_float, :width => 120 %>
                  <div class="tool_right">
                    <p class="synopsis"><%= t 'products.show.synopsis' %></p>
                      <%= truncate_html description.text, :length => 300 %>
                      <span class="infos">
                      <%= link_to t('.more'), path %>
                    </span>
                    <div class="action">
                      <img src='/images/ajax-loader.gif' class="img_load" />
                    </div>
                  </div>
                </p>
              </div>
            </li>
            <% end %>
        </ul>
        <!-- #to do
        <a href="?tool_tips=1" class="info tooltips" id='recommendation_info'>
          <%= image_tag 'icon_info_home.png', :alt => "Info" %>
        </a>
        -->
        <p align="center">
          <%= link_to t('home.index.recommendations.see_all'), products_path(:view_mode => :recommended), :class => :osc %>
        </p>
        <!-- Tooltip -->
        <div class="tooltip" id="recommendation_info_popup" style ='display:none'>
          <h4><%= t('.tooltip_title') %></h4>
          <p><%= t('.tooltip_description') %></p>
        </div>
</div>
