<p><%= t('.catalog') %> 
  <% if session[:sexuality] == 0 %>
    <span class="check"><span></span><%= t('.hetero') %></span> 
    <span class="check-off"><span></span>
      <%= link_to t('.gay'), customer_sexuality_path(:customer_id => current_customer, :value => 1) %>
    </span>
  <% else %>
    <span class="check-off"><span></span> 
      <%= link_to t('.hetero'), customer_sexuality_path(:customer_id => current_customer, :value => 0) %>
    </span> 
    <span class="check"><span></span><%= t('.gay') %></span>
  <% end %>
</p>