<% nb = trailers.count %>
<% for i in 1..nb %>
<% p = trailers[i] %>
<div class="trailer-week"> 
  <a href="<%= product_path(:id => p.id) %>">
    <span><%= t '.trailer_week' %><strong><%= p.title %></strong></span> 
  </a>
  <a href="<%= product_trailer_path(:product_id => p.id, :source => @wishlist_source[:trailer_adult]) %>" class="trailer">
    <%= image_tag p.trailer_image(params[:kind]), :width => 298, :height => 253 %>
  </a>
</div>
<% end %>