<div id="bienvenue">
  <h4><%= t 'home.index.wishlist.welcome' %> <%= current_customer.customers_firstname %></h4>
  <%= render :partial => 'home/index/sexuality' %>
  <% unless current_customer.svod? %>
    <div id="liste">
      <strong><%= t('home.index.wishlist.contains') %></strong> <%= wishlist_count %> <%= t 'home.index.wishlist.dvd' %>
    </div>
    <table width="300px">
    <%= render :partial => 'customers/show/rotation', :locals => {:customer => current_customer} %>
    </table>
  <% end %>
  <div class="clear"></div>
  <div id="liste">
    <strong><%= t '.svod_adult' %></strong>
  </div>
  <% if current_customer.svod_adult == 0 %>
   <span class="check-off"><span></span>
     <%= t '.yes' %>
   </span>
   <span class="check"><span></span>
    <%= t '.no' %>
   </span>
  <% else %>
    <span class="check"><span></span>
       <%= t '.yes' %>
    </span>
    <span class="check-off"><span></span>
      <%= t '.no' %>
    </span>
    <% if current_customer.svod_adult == 3 || current_customer.svod_adult == 4 %>
      <%= t '.stop', :date => current_customer.customers_svod.validityto.strftime('%d/%m/%Y') %>
    <% elsif current_customer.svod_adult == 1 %>
      <%= t '.start' %>
    <% elsif current_customer.svod_adult == 2 %>
      <%= t '.active', :date => current_customer.customers_svod.validityto.strftime('%d/%m/%Y') %>
    <% end %>
  <% end %>
  <% if current_customer.svod_adult == 0 %>
    <p style="padding-top:5px;"><%= link_to t('.discover'), customers_svod_path %></p>
  <% else %>
    <p style="padding-top:5px;"><%= link_to t('.modify'), customers_svod_path %></p>
  
  <% end %>
</div>