<!-- user info -->
<div id="user-info-wrap" class="clearfix">
  <div id="user-container" class="clearfix">
    <div id="user-info">
      <!-- Bonjour Maud -->
      <div id="user">
        <h3><%= t '.welcome' %> <%= current_customer.customers_firstname %></h3>
        <ul>
          <li><%= customer_awards(current_customer, current_customer.customer_attribute.points) %></li>
          <li><a href="<%= customer_reviews_path(:customer_id => current_customer.to_param) %>"><%= review_count %> <%= review_title(review_count) %></a></li>
          <li><%= rating_count %> <%= rating_title(rating_count) %></li>
        </ul>
        <%= image_tag get_avatar(current_customer), :width => 64, :class=> "thumb" %>
       </div>
      <!-- Titres chez vous ou en transit  -->
      <ul id="user-titles">
        <li><%= t '.lent' %>: <a href="<%= wishlist_path() %>"><%= transit_items.count %> <%= t '.dvd' %></a></li>
        <li><%= t '.wishlist_size' %> : <a href="<%= wishlist_path() %>"><%= wishlist_count %> <%= t '.dvd' %></a> 
        <% if WishlistItem.good_size?(current_customer, wishlist_count) %>
          <%= link_to t('.fill_in'), products_path(), :class => 'alert' %>
        <% end %>
        </li>
        <li>
          <%= t('.credit') %>: <a href="<%= edit_customer_reconduction_path(:locale => I18n.locale, :customer_id => current_customer.to_param) %>"><%= current_customer.credit_per_month == 0 ? current_customer.credits : "#{current_customer.credits} #{t '.dvd'}" %></a> 
          <% if current_customer.credit_empty? %>
            <%= link_to t('.credit_empty'), edit_customer_reconduction_path(:locale => I18n.locale, :customer_id => current_customer.to_param), :class => 'alert'  %>
          <% end %>
          <% if current_customer.beta_test && current_customer.abo_active == 0 %>
            <%= link_to t('.promo_beta_test', :link => info_path(:page_name => :promotion)), info_path(:page_name => :promotion), :class => 'alert' %></a>
          <% end %>
          
        </li>
        <li><%= t '.date_end_abo' %> <%= current_customer.subscription_expiration_date.strftime("%d/%m/%Y") if current_customer.subscription_expiration_date %></li>
        <% if offline_request.count > 0 %>
        <li>
            <%= t '.offline', :link => messages_urgent_path, :class => :alert %> 
        </li>
        <% end %>
      </ul>
    </div>
    <%= render :partial => '/home/index/recommendation_box', :locals => {:recommendations => recommendations, :not_rated_product => not_rated_product} %>
  </div>
  <!-- Thème de la semaine -->
  <%= render :partial => '/home/index/theme_of_week' %>

</div>