<!-- Logged user -->
<div id="user-info-wrap">
	<div id="user-info">
		<div class="left">
			<h3><%= image_tag get_avatar(current_customer), :width => 51, :class=> "thumb", :alt => current_customer.customers_firstname  %><%= t '.welcome' %> <%= current_customer.customers_firstname %></h3>
			<ul>
				<!--<li><%= customer_awards(current_customer, current_customer.customer_attribute.points) %></li>-->
        <li><a href="<%= customer_reviews_path(:customer_id => current_customer.to_param) %>"><%= review_count %> <%= review_title(review_count) %></a></li>
        <li><%= rating_count %> <%= rating_title(rating_count) %></li>
			</ul>
			<dl>
				<dt><%= t '.lent' %></dt>
				<dd><a href="<%= wishlist_path() %>"><%= transit_items.count %></a></dd>
				<dt><%= t '.current_formula' %> :</dt>
				<dd><%= subscription_description(current_customer, 2) %></dd>
				<% unless current_customer.svod? %>
  				<dt><%= t '.wishlist_size' %> :</dt>
  				<dd><%= wishlist_count %></dd>
  		</dl>
  				<% if WishlistItem.good_size?(current_customer, wishlist_count) %>
  				<div>
  				  
              <%= link_to t('.fill_in'), products_path(), :class => 'alert' %>
          </div>
      <dl>
          <% end %>
        
  				<dt><%= t '.credits_left' %> :</dt>
  				<dd>
  				  <span><%= current_credits(current_customer, false) %></span>
            <span><%= link_to "(#{t('.details')})", "?tool_tips=2", :class => "info tooltips", :id => "film_info" if current_customer.new_price? %></span>
            <% if current_customer.new_price? %>
            <div class="tooltip" id="film_info_popup" style ='display:none'>
              <h4>
                <%= subscription_description(current_customer) %><br />
                <span><%= abo_type(current_customer, true, true) %></span>
              </h4>

              <p><%= t '.credits_used', :credits => used_credits(current_customer) %></p>
              <p><strong><%= t '.credits_left' %> : </strong> <br /><%= current_credits(current_customer) %></p>
            </div>
            <% end %>
          </dd>
          <% if current_customer.credit_empty? %>
          </dl>
            <div><%= link_to t('.credit_empty'), edit_customer_reconduction_path(:locale => I18n.locale, :customer_id => current_customer.to_param), :class => 'alert'  %></div>
          <dl>
          <% end %>
        <% end %>
         
				<dt><%= t '.date_end_abo' %></dt>
				<dd><%= current_customer.subscription_expiration_date.strftime("%d/%m/%Y") if current_customer.subscription_expiration_date %></dd>
				<% if offline_request.count > 0 %>
        <dt><%= t '.offline', :link => messages_urgent_path, :class => :alert %></dt>
        <% end %>
			</dl>
			<%= link_to t(".account"), customer_path(:id => current_customer), :class => :osc %>
		</div>
		<%= render :partial => '/home/index/theme_of_week', :locals => { :theme => theme } %>
  	
	</div>
	<%= link_to image_tag("#{I18n.locale.to_s}/vod-banner.jpg", :size => "320x254"), streaming_products_faq_path() %>
  
</div>