<div id="bienvenue">
  <h4><%= t 'home.index.wishlist.welcome' %> <%= current_customer.customers_firstname %></h4>
  <%= render :partial => 'home/index/sexuality' %>
  <% unless current_customer.svod? %>
    <div id="liste">
      <strong><%= t('home.index.wishlist.contains') %></strong> <%= wishlist_count %> <%= t 'home.index.wishlist.dvd' %>
    </div>
    <table width="300px">
    <%= render :partial => 'customers/show/rotation', :locals => {:customer => current_customer} %>
    </table>
  <% end %>
  <div class="clear"></div>
  <div id="liste">
    <strong>Profitez vous de la VOD illimitée?</strong>
  </div>
  <% if current_customer.svod_adult == 0 %>
   <span class="check-off"><span></span>
     Oui
   </span>
   <span class="<check"><span></span>
    Non
   </span>
  <% else %>
    <span class="check"><span></span>
       Oui
    </span>
    <span class="check-off"><span></span>
      Non
    </span>
    <% if current_customer.svod_adult == 3 %>
      <p>votre compte sera stopé le <%= current_customer.customers_svod.validityto.strftime('%d/%m/%Y') %>. il est actif jusqu'à cette date</p>
    <% elsif current_customer.svod_adult == 1 %>
      <p>ton compte est actif, tu peux dés a présent regarder de la vod illimitée</p>
    <% elsif current_customer.svod_adult == 2 %>
      <p>la prochaine date de reconduction est le <%= current_customer.customers_svod.validityto.strftime('%d/%m/%Y') %></p>
    <% end %>
  <% end %>
  <p style="padding-top:5px;"><%= link_to "Découvrez la VOD illimitée", customers_svod_path %></p>
</div>