<% data = product.description_data() %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>

<!-- Donnez votre avis sur ce film -->
<div class="comments">
  <h4><%= t '.title' %></h4>
  <ul>
    <li>
      <h3><%= link_to product_title, product_path(:id => product.to_param)%></h3>
    </li>
    <li>
      <div id='rating-stars-<%= product.to_param %>'>
        <%= render :partial => 'products/rating', :locals => {:product => product, :background => :white, :replace => :homepage} %>
      </div>
    </li>
    <li>
      <%=  link_to t('.new_review'), new_product_review_path(:product_id => product.to_param), :class => :add_reviews %>
    </li>
    <li class="thumb">
      <%= link_to product_image_tag(product_image, :size => '65x88', :alt => product_title), product_path(:id => product.to_param) %>
    </li>
  </ul>
  <a href="<%= root_path(:close_rating => 1) %>" class="close"><img src="images/close-icon-home.gif" alt="close" /></a> 
</div>