<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent">
  <%= render :partial => 'layouts/filters', :locals => {:filter => @filter } %>
  <div id="detail-wrap">
    <div class="top"></div>
    <!-- Detail -->
    <h2>
      <%= "#{@movie_title} " %>
    </h2>
    <div class="box">
      <div class="box-content clearfix">
        <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div id="details">
          <div id="movie-info" class="<%= @movie.streaming? ? 'height-stream' : 'height-classic' %>">
            <%= render :partial => 'movies/show/product', :object => @movie %>
          </div>
          <div class="action">
            <% if 1== 0 && @movie.dvdposts_choice? %>
              <div id="dvdpost-coup">
                <%= image_tag 'dvdpost-coup.png' %>
                <%= t '.dvdpost_choice' %>
              </div>
            <% end %>
            <div align="center">
                <%= t '.rate' %>
                "(#{@movie.rating_count} #{t('.count')})"
            </div>
            <ul>
              <li class="stars" id="rating-stars-<%= @movie.to_param %>" product_id ="<%= @movie.to_param %>">
                <%= render :partial => 'products/rating', :locals => {:product => @movie, :background => @rating_color} %>
              </li>
              <% if current_customer %>
                <li class="links" id="seen-uninterested-<%= @movie.to_param %>">
                  <!-- render :partial => 'products/show/seen_uninterested', :locals => {:product => @movie} %> -->
                </li>
              <% end %>
            </ul>
            <%= image_tag 'oeil.gif', :alt => 'already seen' if @already_seen %>
          </div>
          <div class="clear"></div>
          <%= render :partial => 'products/preview', :locals => {:product => @movie} if @movie.adult? %>
          <div id="sinopsis">
            <h3>
              <%= t '.synopsis' %>
            </h3>
            <p><%= @movie_description.text %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Detail -->
    <!-- Carousel -->
    <%= render :partial => 'products/show/recommendations', :object => @recommendations, :locals => { :rating_color => @rating_color } if @recommendations && @recommendations.size > 0 %>
    <!-- End Carousel -->
    <!-- Critique -->
    <ul class="tabs">
      <li class="active" id='tab1_li'>
        <%= link_to t('.members_critic'), '#tab1', :id => 'tab1_menu' %>
      </li>
      <% if (@cinopsis && !@cinopsis.empty?) %>
        <li id='tab2_li'>
          <%= link_to t('.cinopsis_critic'), '#tab2', :id => 'tab2_menu' %>
        </li>
      <% end %>
    </ul>
    <div class="box">
      <div class="box-content clearfix">
        <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div class="tab_container">
          <div id="tab-content-movie" class="tab_content">
            <% if @reviews_count > 0 %>
            <ul class="clearfix content_item">
              <%= render :partial => 'movies/show/reviews', :locals => {:movie => @movie, :reviews_count => @reviews_count, :reviews => @reviews} %>
            </ul>
            <% else %>
              <% if current_customer %>
                <p>
                  <%= t '.no_review' %>
                  <%= link_to "#{t('.be_the_first')} #{@movie_title}!", new_movie_review_path(:movie_id => @movie.to_param), :id => 'add_new_review' %>
                </p>
                <% end %>
            <% end %>
          </div>
          <div id="tab2" class="tab_content" style="display:none">
            <% if @cinopsis == false %>
              <br />
              <p class='error'>
                <%= t '.critic_unavailable' %>
              </p>
            <% else %>
              <%= @cinopsis %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Critique -->
    <div class="end"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<% if params[:kind] == :normal %>
  <%= render :partial => 'products/left_column', :locals => {:filter => @filter} %>
<% else %>
  <%= render :partial => 'products/left_column_adult', :locals => {:filter => @filter} %>
<% end %>
<% if params[:add].to_i == 1%>
  <% submit_id = "p_#{@movie.to_param}_#{rand(10)}"%>
  <div id='add' style='display:none'><%= new_product_wishlist_item_path(:product_id => @movie.to_param, :source => @source, :submit_id => submit_id, :text => :long, :load_color => :normal) %></div>
<% end %>
<% if params[:review].to_i == 1%>
  <div id='review' style='display:none'><%= new_product_review_path(:product_id => @movie.to_param) %></div>
<% end %>
