<% if params[:confirm] && @test %>
<div style='height:75px;width:970px'>
  <div class='load' style='margin: 15px 0pt; text-align: center;'><%= t '.redirection' %></div>
  <div class='load' style='width: 32px; height: 32px; margin: 6px auto;'>
    <%= image_tag 'loading.gif', :title => 'loading' %>
  </div>
</div>
<form name="checkout_confirmation" id="checkout_confirmation" method="post" action="https://secure.ogone.com/ncol/<%= DVDPost.ogone_url[Rails.env] %>/orderstandard.asp">
  <input type="hidden" name="prod" value="">
  <input type="hidden" name="orderID" value="<%= @order_id %>">
  <input type="hidden" name="pspid" value="<%= DVDPost.ogone_pspid[Rails.env] %>">
  <input type="hidden" name="RL" value="ncol-2.0">
  <input type="hidden" name="currency" value="EUR">
  <input type="hidden" name="language" value="<%= @ogone_language %>">
  <input type="hidden" name="amount" value="<%= @price %>">
  <input type="hidden" name="declineurl" value="<%= @url_back %>">
  <input type="hidden" name="exceptionurl" value="<%= @url_back %>">
  <input type="hidden" name="cancelurl" value="<%= @url_back %>">
  <input type="hidden" name="CN" value="<%= current_customer.name %>">
  <input type="hidden" name="catalogurl" value="<%= php_path 'catalog.php' %>">
  <input type="hidden" name="accepturl" value="<%= @url_back %>">
  <input type="hidden" name="COM" value="<%= @com %>">
  <input type="hidden" name="TP" value="<%= php_path @template_ogone %>">
  <input type="hidden" name="ALIAS" value="<%= @alias %>">
  <input type="hidden" name="ALIASUSAGE" value="<%= @com %>">
  <input type="hidden" name="SHASign" value="<%= @hash %>">
</form>
<% else %>
<div id="hp-content">
  <!-- Vente Flash -->
  <%= link_to "flash", shop_path, :id => "vente-flash", :class => "#{I18n.locale}" %>
  <!-- Cart -->
  <div id="cart-wrap">
    <h4>
      <%= render :partial => 'shopping_carts/cart', :locals => {:articles_count => @count} %>
    </h4>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="cart-tbl">
      <%= render :partial => 'cart_header' %>
      <%= render :partial => "shopping_carts/item", :collection => @items%>
      <%= render :partial => 'shopping_carts/result', :locals => {:total => @hs, :shipping => @shipping, :reduce => @reduce, :price_reduced => @price_reduced} %>
      <%= render :partial => 'shopping_carts/cart_action', :locals => {:total => @total, :shipping => @shipping} %>
    </table>
  </div>
</div>
<% end %>
