<div id="title_contest"><span class="big_title"><%= t('.title').upcase %> :</span><%= big_title(contest).upcase %></div>
<div><%= image_tag contest.image_big %></div>
<div class="content_left">
<% form_for :contests, :url => contest_customers_path(:contest_id => params[:id]), :html => {:class => :contest_form}  do |f| %>
<div style="clear:both"></div>
  <div id="field_form">
    <% if !already_played.nil? %>
      <p><%= t('.already_played', :title => title(contest)) %></p>
    <% else %>
      <p><%= error_messages_for :contests %></p>
      <% response = response(contest) %>
      <strong><%= question(contest) %></strong>
      <p>
        <%= f.radio_button :answer_id, 1 %>
        <%= f.label :answer_id_1, response[0] %>
      </p>
      <p>
        <%= f.radio_button :answer_id, 2 %>
        <%= f.label :answer_id_2, response[1] %>
      </p>
      <p>
        <%= f.radio_button :answer_id, 3 %>
        <%= f.label :answer_id_3, response[2] %>
      </p>
      <p>
        <%= f.radio_button :answer_id, 4 %>
        <%= f.label :answer_id_4, response[3] %>
      </p>
      <button type="submit" class="button_contest"><strong><%= t('.submit') %></strong></button>
    <% end %> 
  </div>
</div>
<% end %>

