<% product = item.product %>
<li style="float:left">
  <%= image_tag product.image, :width => 120 %><br />
  <%= product.title %> (<%= product.price_sale %> euro)<br >
  <p id="quantity">
        <% fields_for "shopping_cart[]", item do |report_fields| %>
        <tr>
          <td><%= report_fields.text_field :quantity, :value => item.quantity %></td>
        </tr>
        <tr>
          <td><%= report_fields.check_box :delete %></td>
        </tr>
        <% end %>
  </p>
  <p> total => <%= (price = item.quantity*product.price_sale) %></p>
</li>
<% @total += price %>