<% if !@product.streaming?(params[:kind], session[:country_id]) %>
  access denied
<% else %>
  <% if current_customer.suspended? %>
  <div style="display: block;width:<%= mobile_request? ? 300 : 450 %>px" class="content">
    <div id="addwishlist_title"><%= "#{@product.title} (#{@product.year})" %></div>
    <div id="addwishlist_explain_justify">
    <% if current_customer.payment_suspended? %>
      <%= t('.suspended_for_payment') %>
    <% else %>
      <%= t('.suspended_for_holidays', :date => current_customer.suspensions.holidays.last.date_end.strftime('%d/%m/%Y')) %>
    <% end %>
    </div>
  </div>
  <% else %>
  <% if @product.adult? && current_customer.svod? && current_customer.svod_adult == 0 %>
    <%= t('.svod_adult') %>
  <% else %>
    <% if (@vod_create_token == "1" && @vod_disable == "1") || Rails.env == "pre_production" %>
      <% if @streaming %>
        <div style="display: block;width:<%= mobile_request? ? 300 : 450 %>px" class="content">
          <div id="addwishlist_title"><%= "#{@product.title} (#{@product.year})" %></div>
          <div id="addwishlist_explain">
            <% if @streaming.is_ppv && current_customer.ppv_status_id != 1 %>
              <% if current_customer.ppv_status_id == 0 %>
                <%= t '.update_cc_for_ppv' %><br /><br /><%= t '.price', :price => @streaming.ppv_price %><br /><br />
                <%= link_to t('.click_here'), edit_customer_payment_methods_path(:customer_id => current_customer.to_param, :type => :credit_card_for_ppv) %>
              <% else %>
                <p><%= t '.ppv_blocked' %></p>
                <p><%= link_to t('.click_here'), edit_customer_payment_methods_path(:customer_id => current_customer.to_param, :type => :credit_card_for_ppv) %></p>
              <% end %>
            <% else %>
              <% nb_credit = "#{@streaming.credits} #{ @streaming.credits == 1 ? t('customer.credit') : t('customer.credits')}" %>
              <% if @streaming.is_ppv %>
                <%= t '.ppv', :price => @streaming.ppv_price %>
              <% else %>
                <%= "#{t '.intro', :credits => nb_credit}<br /><br />" unless @streaming_free[:status] == true || current_customer.svod? || (current_customer.credits < @streaming.credits) || current_customer.svod_adult > 0  %>
              <% end %>
              <% if @product.adult? && current_customer.svod_adult > 0 %> 
                <%= 'vod ilimité' %>
                 <p align='center'><%= link_to t('.see_to_vod'), streaming_product_path(:id => @product.imdb_id, :source => params[:source], :response_id => params[:response_id]), :id => 'add_to_vod' %></p>
            	<% elsif current_customer.abo_active == 0 && !@streaming_free[:status] %>
            	  <% if current_customer.beta_test %>
            	    <div id='abo_not_active'><%= t '.abo_not_active_beta_test', :link => info_path(:page_name => :promotion) %></div>
            	  <% else %>
            	    <div id='abo_not_active'><%= t '.abo_not_active' %></div>
            	  <% end %>
            	<% elsif @streaming_free[:status] == true %>
            	  <% if @streaming_free[:available] == true %>
            	    <p align='center'><%= t '.streaming_free' %></p>
            	    <% unless params[:btn] == 'hide' %>
            	      <p align='center'><%= link_to t('.see_to_vod'), streaming_product_path(:id => @product.imdb_id, :source => params[:source], :response_id => params[:response_id]), :id => 'add_to_vod' %></p>
            	    <% end %>
            	  <% else %>
            	    <p align='center'><%= t '.already_used' %></p>
            	  <% end %>
            	<% elsif @streaming.is_ppv %>
            	  <% unless params[:btn] == 'hide' %>
            	    <p align='center'><%= link_to t('.see_to_vod'), streaming_product_path(:id => @product.imdb_id, :source => params[:source], :response_id => params[:response_id]), :id => 'add_to_vod' %></p>
            	  <% end %>
          	  <% elsif current_customer.credits >= @streaming.credits %>
                <%= t '.credit_left', :credit => current_customer.credits unless current_customer.svod? %>
                <br />
                <% unless @product_in_wishlist.blank? %>
                  <p><%= t '.remove_from_wishlist' %></p>
                <% end %>
                <br />
                <% unless params[:btn] == 'hide' %>
            	    <p align='center'><%= link_to t('.see_to_vod'), streaming_product_path(:id => @product.imdb_id, :source => params[:source], :response_id => params[:response_id]), :id => 'add_to_vod' %></p>
            	  <% end %>
              <% else %>
                <%= t '.credit_empty', :credits => nb_credit, :url => edit_customer_reconduction_path(:locale => I18n.locale, :customer_id => current_customer.to_param) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div>
          <%= t('streaming_products.not_available.not_available') %>
        </div>
      <% end %>
    <% else %>
      <%= t('streaming_products.not_available.offline') %>
    <% end %>
  <% end %>
<% end %>
<% end %>