<!--   ==============   MAIN CONTENT   ==============   -->
<div id='hp-content'>
  <% if current_customer.payment_suspended? %>
    <ul id='suspended'>
      
      <li><%= current_customer.suspended_notification %></li>
    </ul>
  <% end %>
  <% if params[:kind] == :adult %>
    <div id="hp-content">
      <!-- Slider -->
      <%= render :partial => '/home/index/carousel_adult', :locals => {:carousel => @carousel} %>
      <!-- BIENVENUE  -->
      <%= render :partial => '/home/index/wishlist_adult', :locals => {:wishlist_count => @wishlist_size, :transit_items => @transit_items, :streaming_available => @streaming_available} %>
      <!-- Actrice de la semaine -->
      <%= render :partial => '/home/index/actor_week_adult', :locals => {:actor => @actor_week, :actor_week_product => @actor_week_product} %>
      <!-- Top des plus loués -->
      <%= render :partial => '/home/index/top_view_adult', :locals => {:products => @top_views} %>
      <!-- Top Actrices -->
      <%= render :partial => "/home/index/top_actors_adult", :locals => {:top_actors => @top_actors} %>
      <!-- Nouveautés  -->
      <%= render :partial => "/home/index/products_recent_adult", :locals => { :products => @recent } %>
      </div>
    </div>  
    <% if @newsletter_x.nil? %>
      <div id='popup' style='display:none'><%= customer_newsletter_x_path(:customer_id => current_customer.to_param) %></div>
    <% end %>
  <% else %>
  
    <!-- Tabs rotattor -->
    <%= render :partial => 'home/index/carousel', :locals => {:carousel => @carousel} %>
    <!-- BIENVENUE  -->
    <%= render :partial => '/home/index/wishlist', :locals => {:wishlist_count => @wishlist_size, :transit_items => @transit_items, :streaming_available => @streaming_available, :review_count => @review_count, :rating_count => @rating_count, :recommendations => @recommendations, :not_rated_product => @not_rated_product} %>
    
    <%= render :partial => '/home/index/selection_week', :locals => {:selection_week => @selection} %>
    <div id="review_content">
    <% if DVDPost.home_review_types[@review_kind] == DVDPost.home_review_types[:best_customer] %>
      <%= render :partial => 'home/index/reviews', :locals => {:review_kind => @review_kind, :data_all => @data_all, :data_month => @data_month} %>
    <% else %>
      <%= render :partial => 'home/index/reviews', :locals => {:review_kind => @review_kind, :data => @data} %>
    <% end %>
    </div>
    <div class="clear"></div>
    <%= render :partial => '/home/index/news', :locals => {:news_items => @news_items} %>
    <%= render :partial => '/home/index/quick_link' %>

    <div class="end"></div>
    <% end %>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
