<!--   ==============   MAIN CONTENT   ==============   -->
<div id='hp-content'>
  <% if current_customer.payment_suspended? %>
    <ul id='suspended'>
      
      <li><%= current_customer.suspended_notification %></li>
    </ul>
  <% end %>
  <% if params[:kind] == :adult %>
      <!-- Slider -->
      <%= render :partial => '/home/index/carousel', :locals => {:carousel => @carousel} %>
      <br />
      <!-- BIENVENUE  -->
      <%= render :partial => '/home/index/wishlist_adult', :locals => {:wishlist_count => @wishlist_size, :transit_items => @transit_items, :streaming_available => @streaming_available} %>
      <%= render :partial => '/home/index/trailers_week', :locals => {:trailers => @trailers_week}%>
      <!-- selection of the week-->
      <div style='clear:both'></div>
      <%= render :partial => '/home/index/selection_week', :locals => {:selection_week => @selection} if streaming_access? %>
      <!-- Nouveautés  -->
      <%= render :partial => '/home/index/newsletters', :locals => {:news => @news, :themes => @themes} %>
      <%= render :partial => "/home/index/products_recent_adult", :locals => { :products => @recent } %>
      <%= render :partial => "/home/index/trailers", :locals => { :products => @trailers } %>
      
      <%= render :partial => '/home/index/top_view_adult', :locals => {:products => @top_views} %>    
      <%= render :partial => '/home/index/banners', :locals => {:banners => @banners} %>
      <% if @newsletter_x.nil? %>
      <div id='popup' style='display:none'><%= customer_newsletter_x_path(:customer_id => current_customer.to_param) %></div>
    <% end %>
  <% else %>
    <!-- Tabs rotattor -->
    <%= render :partial => 'home/index/carousel', :locals => {:carousel => @carousel} %>
    <%= render :partial => '/home/index/wishlist', :locals => {:wishlist_count => @wishlist_size, :transit_items => @transit_items, :streaming_available => @streaming_available, :review_count => @review_count, :rating_count => @rating_count, :recommendations => @recommendations, :not_rated_product => @not_rated_product, :offline_request => @offline_request, :theme => @theme_hp} %>
    <%= render :partial => '/home/index/newsletters', :locals => {:news => @news, :themes => @themes} %>
    <%= render :partial => '/home/index/chronicle', :locals => {:chronicle => @chronicle} if I18n.locale != :en %>
    <%= render :partial => '/home/index/selection_week', :locals => {:selection_week => @selection} %>
    <div id="review_content">
      <% if DVDPost.home_review_types[@review_kind] == DVDPost.home_review_types[:best_customer] %>
        <%= render :partial => 'home/index/reviews', :locals => {:review_kind => @review_kind, :data_all => @data_all, :data_month => @data_month} %>
      <% else %>
        <%= render :partial => 'home/index/reviews', :locals => {:review_kind => @review_kind, :data => @data} %>
      <% end %>
    </div>
    
    <div class="end"></div>
    <%= render :partial => '/home/index/news', :locals => {:news_items => @news_items} %>
    <%= render :partial => '/home/index/quick_link' %>
    <% end %>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
