<%= stylesheet 'info', :media => :all %>
<div id='hp-content'>
  <!-- BIENVENUE  -->
  <!-- user info -->
  <div id="header_pricing" class="clearfix">
    <p align="center"> <%= nederlands? ? '<br />' : image_tag("#{I18n.locale.to_s}/title_formula.jpg") %> </p>
    <div class="new_abo_left">
      <table width="400" cellspacing="0" cellpadding="0" border="0" class="new_table_abo" align="center">
        <tbody>
        <tr class="new_abo_actuel">
          <td width="20"></td>
          <td width="240"><b>
            <%= subscription_description(current_customer, true) %><br/>
            <% unless current_customer.svod? %>
                <span class="formula_nomination"><%= abo_type(current_customer, false, true, true) %> </td>
                <td align="right" style="font-size:30px"><%= current_customer.price_per_month %> &euro; </td>
            <% end %>
            <td width="20"></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="new_abo_right">
      <%= t_nl '.description' %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="container desktop clearfix">

    <div id="prices">
      <div class="all-container">
        <div class="prices-container" align="left">
          <%= render :partial => "info/price_menu2" if !nederlands? %>
          <div class="clearfix"></div>

          <div class="formula dvd active" id='f2_content'>
            <ul>
              <li class="prices">
                <h2>2 <%= t('.films') %></h2>
                <p align="center"><%= t('info.price.simultanate', :number => 1) %><br/></p>
                <h4><%= Product.find(130199).price %>€<br/>
                  <span><%= t('.per_month') %></span>
                </h4>
                <div align="center">
                  <%= link_to t('suspensions.new.confirm'), customer_subscription_path(:customer_id => current_customer.to_param, :customer_next_abo_type_id => 130199), :method => :put, :class => :button %>
                </div>
              </li>

              <li class="prices populaire size">
                <div class="icon_populaire fr"></div>
                <h2>4 <%= t('info.price.films') %></h2>
                <p align="center"><%= t('info.price.simultanate', :number => 2) %></p>

                <h4><%= Product.find(130200).price %> €<br/>
                  <span><%= t('info.price.per_month') %></span>
                </h4>
                <div align="center">
                  <%= link_to t('suspensions.new.confirm'), customer_subscription_path(:customer_id => current_customer.to_param, :customer_next_abo_type_id => 130200), :method => :put, :class => :button %>

                </div>
              </li>
              <li class="prices">
                <h2>6 <%= t('.films') %></h2>
                <p align="center"><%= t('info.price.simultanate', :number => 2) %></p>
                <h4><%= Product.find(130201).price %> €<br/>
                  <span><%= t('.per_month') %></span>
                </h4>
                <div align="center">
                  <%= link_to t('suspensions.new.confirm'), customer_subscription_path(:customer_id => current_customer.to_param, :customer_next_abo_type_id => 130201), :method => :put, :class => :button %>
                </div>
              </li>
              <li class="prices">
                <h2>8 <%= t('.films') %></h2>
                <p align="center"><%= t('info.price.simultanate', :number => 2) %></p>
                <h4><%= Product.find(130202).price %> €<br/>
                  <span><%= t('.per_month') %></span>
                </h4>
                <div align="center">
                  <%= link_to t('suspensions.new.confirm'), customer_subscription_path(:customer_id => current_customer.to_param, :customer_next_abo_type_id => 130202), :method => :put, :class => :button %>
                </div>
              </li>
            </ul>
            <div class="clearfix"></div>
            <div class="more_formula" align="right"><a class="button" href="" id="more2"><%= t('info.price.more') %></a>
            </div>
            <div id="pricing2" style="display:none">
              <h4 class="maven" id="formula"><%= t('subscriptions.edit.all_formula') %></h4>
              <% form_for(:customer, :url => customer_subscription_path(:customer_id => current_customer.to_param), :html => {:method => :put, :id => :form_account2}) do |f| %>
                  <%= f.hidden_field :next_abo_type_id %>

                  <table width="550" cellspacing="0" cellpadding="0" border="0" align="left" class="new_table_abo">
                    <tbody>
                    <tr class="new_abo" style="display: table-row;">
                      <td width="40">
                        <div id="130199" class="check">
                        </div>
                      </td>
                      <td width="120" align="left"
                      <b="">
                      <span class="title_pricing">2 <%= t('.films') %></span>
                      </td>
                      <td width="200" align="left">
                        <%= t('info.price.simultanate', :number => 1) %>
                      </td>
                      <td width="150" align="right" class="price"><%= price_format(Product.find(130199).price) %> €
                        <span class="month"><%= t('.per_month') %> </span></td>
                    </tr>

                    <tr class="new_abo" style="display: table-row;">
                      <td width="40">
                        <div id="130200" class="check"></div>
                      </td>
                      <td width="120" align="left"
                      <b="">
                      <span class="title_pricing">4 <%= t('.films') %></span>
                      </td>
                      <td width="200" align="left">
                        <%= t('info.price.simultanate', :number => 2) %>
                      </td>
                      <td width="150" align="right" class="price"><%= price_format(Product.find(130200).price) %> €
                        <span class="month"><%= t('.per_month') %> </span></td>
                    </tr>
                    <tr class="new_abo" style="display: table-row;">
                      <td width="40">
                        <div id="130201" class="check"></div>
                      </td>
                      <td width="120" align="left"
                      <b="">
                      <span class="title_pricing">6 <%= t('.films') %></span>

                      </td>
                      <td width="200" align="left">
                        <%= t('info.price.simultanate', :number => 2) %>
                      </td>
                      <td width="150" align="right" class="price"><%= price_format(Product.find(130201).price) %> €
                        <span class="month"><%= t('.per_month') %> </span></td>
                    </tr>
                    <tr class="new_abo" style="display: table-row;">
                      <td width="40">
                        <div id="130202" class="check"></div>
                      </td>
                      <td width="120" align="left"
                      <b="">
                      <span class="title_pricing">8 <%= t('.films') %></span>

                      </td>
                      <td width="200" align="left">
                        <%= t('info.price.simultanate', :number => 2) %>
                      </td>
                      <td width="150" align="right" class="price"><%= price_format(Product.find(130202).price) %> €
                        <span class="month"><%= t('.per_month') %> </span></td>
                    </tr>
                    <tr class="new_abo" style="display: table-row;">
                      <td width="40">
                        <div id="130203" class="check"></div>
                  </div></td>
                  <td width="120" align="left"
                  <b="">
                  <span class="title_pricing">10 <%= t('.films') %></span>

                  </td>
                  <td width="200" align="left">
                    <%= t('info.price.simultanate', :number => 4) %>
                  </td>
                  <td width="150" align="right" class="price"><%= price_format(Product.find(130203).price) %> €
                    <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40">
                      <div id="130204" class="check"></div>
                    </td>
                    <td width="120" align="left"
                    <b="">
                    <span class="title_pricing">12 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('info.price.simultanate', :number => 4) %>
                    </td>
                    <td width="150" align="right" class="price"><%= price_format(Product.find(130204).price) %> €
                      <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40">
                      <div id="130205" class="check"></div>
                    </td>
                    <td width="120" align="left"
                    <b="">
                    <span class="title_pricing">14 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('info.price.simultanate', :number => 4) %>
                    </td>
                    <td width="150" align="right" class="price"><%= price_format(Product.find(130205).price) %> €
                      <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40">
                      <div id="130207" class="check"></div>
                    </td>
                    <td width="120" align="left"
                    <b="">
                    <span class="title_pricing">16 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('info.price.simultanate', :number => 4) %>
                    </td>
                    <td width="150" align="right" class="price"><%= price_format(Product.find(130207).price) %> €
                      <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40">
                      <div id="130208" class="check"></div>
                    </td>
                    <td width="120" align="left"
                    <b="">
                    <span class="title_pricing">18 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('info.price.simultanate', :number => 4) %>
                    </td>
                    <td width="150" align="right" class="price"><%= price_format(Product.find(130208).price) %> €
                      <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  </tbody>
                  </table>
                  <div align="center">
                    <button class="button_confirm_rec" type="submit"><%= t('.confirm') %></button>
                  </div>
              <% end %>
              </div>
        </div>


      </div>
    </div>
  </div>
</div>