<div id='hp-content'>
  <!-- BIENVENUE  -->
  <!-- user info -->
  <div id="header_pricing" class="clearfix">
    <p align="center"> <%= image_tag "#{I18n.locale.to_s}/title_formula.jpg"%> </p>
    <div class="new_abo_left">
    <table width="400" cellspacing="0" cellpadding="0" border="0" class="new_table_abo" align="center">
      <tbody>
        <tr class="new_abo_actuel">
          <td width="20"></td>
          <td width="240"><b>
          <%= subscription_description(current_customer, true) %><br />
          <% unless current_customer.svod? %>
            <span class="formula_nomination"><%= abo_type(current_customer, false, true, true) %> </td>
            <td align="right" style="font-size:30px"><%= current_customer.price_per_month %> &euro; </td>
          <% end %>
          <td width="20"></td>
        </tr>
      </tbody>
    </table></div>
    <div class="new_abo_right">
      <%= t_nl '.description' %>
    </div>
    <div class="clear"></div>
  </div>
  <div id="pricing">
    <h2 id="formula" class="maven"><%= t '.all_formula' %></h2>
     <% form_for(:customer, :url => customer_subscription_path(:customer_id => current_customer.to_param), :id => :form_account, :html => {:method => :put}) do |f| %>
        <%= f.hidden_field :next_abo_type_id %>
      <table width="680" cellspacing="0" cellpadding="0" border="0" class="new_table_abo" align="left">
        <tbody>
          <%= render :partial => 'subscriptions/edit/new_abo', :collection => @list_abo, :locals => {:current_abo_credit => current_customer.credit_per_month, :selected_abo => current_customer.abo_type_id, :free_upgrade => @free_upgrade}%>
        </tbody>
      </table>
      <div align="left" >
        <button type="submit" class="button_confirm_rec"><%= t '.confirm' %></button>
      </div>
     <% end %>
     <div style="margin:20px 45px; font-size:10px">* <%= t('.send') %></div>
  </div>
  <div style='display:none'>
    <div id='div_selected'>2</div>
    <div id='error2'><%= t '.abo_missing' %></div>
  </div>
</div>
