<div class="upgrade">
  <table  cellspacing="0" cellpadding="0" border="0" >
    <tbody>
      <tr>
        <td valign="top"><span class="title_formule"><%= t('.formula').upcase %></span>
          <table width="260" height="114" cellspacing="0" cellpadding="0" border="0" class="abo_actu">
            <tbody>
              <tr>
                <td valign="top"><span class="text_nb_movie"><%= t '.film' , :count => current_customer.credit_per_month %><br />
                  <span class="text_prices"><strong>€ <%= current_customer.price_per_month %></strong></span></td>
              </tr>
            </tbody>
          </table></td>
        <td > <%= t '.description' %> </td>
      </tr>
    </tbody>
  </table>
  <p class="title_formule"><%= t '.choose' %> :</p>
  <% form_for(:customer, :url => customer_subscription_path(:customer_id => current_customer.to_param), :id => :form_account, :html => {:method => :put}) do |f| %>
    <%= f.hidden_field :next_abo_type_id %>

    <table  cellspacing="0" cellpadding="0" border="0" class="table_abo_upgrade"  width="540"  >
    <tbody>
      <%= render :partial => 'subscriptions/edit/abo', :collection => @list_abo, :locals => {:current_abo_credit => current_customer.credit_per_month, :selected_abo => current_customer.abo_type_id, :free_upgrade => @free_upgrade}%>
    </tbody>
    </table>
      <div align='center' style="width:920px; height:50px"><button type="submit" class="button_confirm"><%= t '.confirm' %></button></div>
  <% end %>
  <div style='display:none'>
    <div id='div_selected'>2</div>
    <div id='error2'><%= t '.abo_missing' %></div>
  </div>
</div>