<% if history_item.old_product %>
<div class="<%= product_media_id(history_item.old_product.media) %> clearfix">
  <div class="title">
      <%= link_to truncate(product_assigned_title(history_item.old_product), :length => 50), product_path(:id => history_item.old_product.to_param) %>
  </div>
  <div class="status">
    <% product_dvd = history_item.order_product.product_dvd %>
    <% if product_dvd %>
      <% dvd_status = product_dvd.products_dvd_status %>
      <% order_status = history_item.orders_status %>
    <% end %>
    <span class="<%= class_history(history_item) %>">
      <%= t('.retourne') %>
      <%= "#{t('.the')} #{history_item.changed_at.strftime("%d/%m/%Y")}"  %>
    </span>
  </div>
</div>
<% else %>
  <% "" #Product.notify_hoptoad(history_item) %>
<% end %>