<div class="on-way-with-nav">
  <div class="box" id="on-way">
    <h2>
  	<% if transit_items %>
      <%= t '.out' %> (<%= transit_items.count %>)</span>
    <% elsif history_items %>
      <%= t '.history' %> (<%= history_count %>)
    <% end %>
    </h2>
    <% if transit_items %>
      <%= render :partial => 'wishlist_items/index/transit_item', :collection => transit_items %>
    <% elsif history_items %>
      <%= render :partial => 'wishlist_items/index/history_item', :collection => history_items %>
      <%= will_paginate history_items, :class => 'products-pagination', :previous_label => '&nbsp;', :next_label => '&nbsp;', :param_name => :history_page %>
    <% end %>
  </div>
  
  <ul id="on-way-nav">
    <li class="first">
      <% if history_items %>
        <%= link_to t('.see_out'), wishlist_path(:transit_or_history => 'transit'), :class => 'transit_or_history' %>
      <% else %>
        <%= link_to t('.see_history'), wishlist_path(:transit_or_history => 'history'), :class => 'transit_or_history' %>
      <% end %>
    </li>
    <li><%= link_to t('.add'), products_path %></li>
  </ul>
</div>
