<% if transit_item.old_product %>
  <div class="<%= product_media_id(transit_item.old_product.media) %> clearfix">
    <div class="title"><%= link_to truncate(product_assigned_title(transit_item.old_product), :length => 50), product_assigned_path(transit_item.old_product) %></div>
    <div class="status">
      <% product_dvd = transit_item.order_product.product_dvd %>
      <% if product_dvd %>
        <% dvd_status = product_dvd.products_dvd_status %>
        <% order_status = transit_item.orders_status %>
        <% unless transit_item.is_new? %>
          <% text = 'notify' %>
          <%= link_to t(".#{text}"), new_phone_request_path(:reason => 5), :id => "report_transit_item_#{transit_item.to_param}" if order_status !=1 && current_customer.black_listed == 0 %>
        <% end %>
      <% end %>
      <span class="<%= class_transit(transit_item) %>">
        <%= t('.expedited') %>
        <%= "#{t('.the')} #{transit_item.changed_at.strftime("%d/%m/%Y")}" if order_status == 2 %>
      </span>
    </div>
  </div>
<% else %>
  <% "" #Product.notify_hoptoad(transit_item) %>
<% end %>
