<% product_title = wishlist_item.product.title %>
<div class="<%= product_media_id(wishlist_item.product.media) %> clearfix" id = "<%= "div_#{wishlist_item.product.to_param}" %>">
  <div class="title" >
    <%= link_to truncate(product_title, :length => 65), product_path(:id => wishlist_item.product.to_param, :source => @wishlist_source[:wishlist_dvd]) %>
  </div>
  <% unless params[:kind] == :adult || wishlist_item.product.good_language?(DVDPost.product_languages[I18n.locale]) %>
    <div  class="tooltips_item warm" id="product_<%= wishlist_item.product.to_param %>">
      <%= image_tag "alert-icon.png" %>
    </div>
    <div class="tooltip tooltip_items" id='product_<%= wishlist_item.product.to_param %>_popup' style="display: none;">
      <h4><%= t '.warning' %></h4> 
      <%= t '.warning_text' %>
    </div>
  <% else %>
    <div class="tooltips_item">&nbsp;</div>
  <% end %>
  <% if wishlist_item.product.streaming?(params[:kind], session[:country_id]) and streaming_access? %>  
    <div class="availability streaming">
        <%= render :partial => 'products/streaming', :locals => {:product => wishlist_item.product, :source => @wishlist_source[:wishlist_dvd], :response_id => nil} %>
    </div>
  <% else %>  
    <div class="availability">
      <%= image_tag "3d_icon.png" if wishlist_item.product.bluray3d? %>
      <%= image_tag "3d2d_icon.png" if wishlist_item.product.bluray3d2d? %>
      <% if wishlist_item.product.next == 1 && wishlist_item.product.available_at %> 
        <% wishlist_item.product.available_at.strftime("%d/%m/%Y") %>
      <% elsif wishlist_item.already_rented == 'YES' %>
        <span class="deja-vu"><%= t '.already_seen' %></span>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  <% end %>
  <ul class="HML" id="<%= wishlist_item.to_param %>">
    <%= render :partial => 'wishlist_items/index/priorities', :locals => {:wishlist_item => wishlist_item} %>
  </ul>
  <span class="trash">
    <% form_for(:wishlist_item, :url => wishlist_item_path(:id => wishlist_item.to_param), :html => {:method => :delete, :id => "form_#{wishlist_item.product.to_param}", :class => 'remvove_from_wishlist_form'}) do |f|%>
        <%= hidden_field_tag :list, 2 %>
        <%= hidden_field_tag :div, "div_#{wishlist_item.product.to_param}" %>
        <%= hidden_field_tag :source,  @wishlist_source[:wishlist_dvd] %>
        
      <span id ="<%= "p_#{wishlist_item.product.to_param}" %>">
        <%= submit_tag "trash: #{product_title}", :id => "sub_#{wishlist_item.product.to_param}", :class => 'remvove_from_wishlist wishlist_remove' %>
      </span>
    <% end %>
  </span>
</div>
