<h2><% if kind == 'future_movie' %>
        <%= t('.upcoming') %>
      <% elsif kind == 'not_available_movie'%>
        <%= t('.not_available') %>
      <% else %>
        <%= t('.current') %>
      <% end %> (<%= wishlist_count %>)
</h2>

<div class="box my-list">
  <div class="head">
    <div class="title">
    </div>
    <div class="availability">
    </div>
    <ul class="HML">
      <li>
        <%= t '.high' %>
      </li>
      <li>
        <%= t '.medium' %>
      </li>
      <li>
        <%= t '.low' %>
      </li>
    </ul>
  </div>
  <%= render :partial => 'wishlist_items/index/wishlist_item', :collection => wishlist_items %>
</div>
