<% if mail_copy %>
<%= t '.active_status' %>
<span><%= image_tag 'delimiter.gif' %></span>
<%= link_to t('.deactive_status'), customer_mail_copy_path(:customer_id => current_customer, :value => 0), :class => "mail_copy modif" %>
<% else %>
<%= link_to t('.active_status'), customer_mail_copy_path(:customer_id => current_customer, :value => 1), :class => "mail_copy modif" %>
<span><%= image_tag 'delimiter.gif' %></span>
<%= t '.deactive_status' %>
<% end %>