<tr>
  <td align="right" colspan="2">
    <div id="info_abo">
      <h4>
        <%= subscription_description(current_customer) %> <br />
        <% unless current_customer.svod? || nederlands? %>
          <span><%= abo_type(current_customer, true, true) %></span>
        <% end %>
      </h4>
      <div class="abo_credit">
      <% unless current_customer.svod? %>
        <div><%= t '.credits_used', :credits => used_credits(current_customer) %></div>
        <div><strong><%= t '.credits_left' %> : </strong> <br /><%= current_credits(current_customer) %></div>
      <% end %>
    </div>
  </td>
</tr>
<% if current_customer.credit_empty? && !current_customer.svod? %>
<tr>
  <td colspan="2"> 
      <%= link_to t('.credit_empty'), edit_customer_reconduction_path(:locale => I18n.locale, :customer_id => current_customer.to_param), :class => 'alert'  %>
    </td>
</tr>
<% end %>
