<tr>
  <td colspan="2">
    <table id='nickname' >
    <tr>
      <td align="right" valign="top" class="adresse" width ='203'><strong><%= t '.nickname' %> :</strong></td>
      <td align="left" valign="top" class="adresse" width ="266">
        <%= customer.customer_attribute.nickname %><br/>
      </td>
    </tr>
    <% if nickname_pending = customer.customer_attribute.nickname_pending %>
    <tr>
      <td align="right" valign="top" class="adresse"><strong><%= t '.nickname_waiting' %> :</strong></td>
      <td align="left" valign="top" class="adresse">
        <%= nickname_pending %>
      </td>
    </tr>
    <% else %>
      <tr>
        <td align="right" valign="top" class="adresse"></td>
        <td align="right" valign="top" id="modif">
          <ul>
            <li class="links">
              <%= link_to t('.nickname_create'), edit_customer_customer_attribute_path(:customer_id => current_customer), :class => 'modification_address' %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>