<% path = @display_vod == 0 ? 'vod_wishlists/index/item' : 'vod_wishlists/index/item_gallery' %>
<% class_name = @display_vod == 0 ? '' : ' gallery clearfix' %>
<div id="maincontent" >
<%= render :partial => 'wishlist_items/index/list_menu', :locals => {:wishlist_items_count => @wishlist_items_count, :vod_count => @list.count} %>
<h2><%= t '.token_list' %> (<%= @token_list.count %>)</h2>    	
<div class="box<%= class_name %>" id="in-progress">
  <%= render :partial => 'vod_wishlists/index/display', :locals => {:display_vod => @display_vod} %>
  <%= render :partial => path, :collection => @token_list, :locals => {:display_vod => @display_vod, :type => :token} %>
</div>
<h2><%= t '.list' %> (<%= @list.count %>)</h2>    	
<div class="box<%= class_name %>" id="ready">
  <%= render :partial => 'vod_wishlists/index/display', :locals => {:display_vod => @display_vod} %>
  <%= render :partial => path, :collection => @list, :locals => {:display_vod => @display_vod, :type => :list} %>
</div>
<% if @soon_list.count > 0 %>
<h2><%= t '.soon_list' %> (<%= @soon_list.count %>)</h2>    	
<div class="box<%= class_name %>" id="coming">
  <%= render :partial => 'vod_wishlists/index/display', :locals => {:display_vod => @display_vod} %>
  <%= render :partial => path, :collection => @soon_list, :locals => {:display_vod => @display_vod, :type => :soon} %>
</div>
<% end %>
<span id ='confirm' style="display:none"><%= t '.confirm' %></span>
<div id='locale' style='display:none'><%= I18n.locale %></div>
<div id='error_delete' style='display:none'><%= t('.product_not_delete') %></div>
</div>