<% path = ENV['HOST_OK'] == "0" ? url_for(:full_site => 1, :login => 1 ) : url_for(:full_site => 1 ) %>
<div id="footer">
  <% if params[:controller] != "info" %>
    <p align="right"> <a href="#top" class="top">Top</a> <span class="arrow_up"></span></p>
    <div align='center' class="search">
    <% form_for :search_filter, @filter, {:url => search_filters_path(), :html => {:id => 'search'}} do |f| %>
      <%= text_field_tag :search, (params[:search] || t('layouts.menu_adult.search')), {:id => 'search-field', :class => 'search-field'} %>
      <%= submit_tag 'search', :id => 'search-btn' %>
      <div style="display:none" id ="search_text"><%= t('layouts.menu_adult.search') %></div>
    <% end %>
    </div>
  <% end %>
  <div id="change_site">
    <%= t('.view_mobiel') %> | <%= link_to "desktop", path %>
  </div>
</div>