<% path = ENV['HOST_OK'] == "0" ? url_for(:full_site => 1, :login => 1 ) : url_for(:full_site => 1 ) %>
<div id="wrap" class="mobile"> 
  <div id="top" class="">
    <div class="wrap" align="right"> 
      <% if !current_customer %>
        <%= "#{link_to t('.login'), login_path, :id => :login}" %>
      <% else %>
        <%= link_to t('.logout'), sign_out_path, :id => :logout %>
      <% end %>
    </div>
    <ul id="lang">
      <% Locale.all.collect(&:short).collect do |locale| %>
      <li><%= switch_locale_link locale, {:class => I18n.locale.to_s == locale.to_s ? 'active' : 'nothing'} %></li>
      <% end %>
    </ul>
    <div id="wrap">
      <!--   ==============   HEADER   ==============   -->
      <div id="header">
        <h1>
          <%= link_to t('.tagline'), root_path(:logo => 1), :class => 'f-btn' %>
        </h1>
        <span><%= link_to t('.site_normal'), path if mobile_request? %></span>
      </div>
    </div>
  </div>
  <%= render :partial => 'layouts/menu2' unless @hide_menu %>
  
</div>