<% if movie_detail %>
<% movie = movie_detail %>
<% path = movie_path(:id => movie.to_param, :recommendation => @source) %>

<% data = movie.description_data(true) %>
<% movie_title = data[:title] %>
<% movie_image = data[:image] %>
<% movie_description =  data[:description] %>
<% if movie.streaming? %>
  <% @token = current_customer ? current_customer.get_token(movie.imdb_id) : nil %>
<% end %>

<div class="dvd clearfix">
  <div class="movie-descr">
    <h2>
      <%= link_to movie_title, path %>
    </h2>
    <p>
      <%= truncate_html(movie_description.text, :length => 300) %>
      bubbles(product)
    </p>
    <p class="links">
      <% # to do %>
      <% if 1 == 0 && movie.trailer %>
        <%= link_to(t('.trailer'), movie_trailer_path(:movie_id => movie.to_param), :class => 'trailer', :target => :_blank) %>
        <%= content_tag(:span, image_tag('delimiter.gif')) if (!movie_description.url.nil? && !movie_description.url.empty?) %>
      <% end %>
      <%= link_to(t('.more'), path, :class => 'more') %>
    </p>
  </div>
  <div class="movie-info">
    <div class="subs">
      <%= image_tag movie.public.image, :alt => movie.public.description if movie.public %>
      <div style='clear:left'></div>
    </div>
    <% if movie.actors.count > 0  %>
    <div class="cast">
      <h3>
        <%= t '.actors' %>
      </h3>
      <p><%= movie.actors.limit(8).collect{|actor| link_to actor.name, actor_movies_path(:actor_id => actor.to_param)}.join(', ') %></p>
    </div>
    <% end %>
    <% if movie.director %>
      <h3>
        <%= t '.director' %>
      </h3>
      <p><%= link_to movie.director.name, director_movies_path(:director_id => movie.director.to_param) %></p>
    <% end %>
    <% if movie.studio && movie.adult? %>
      <h3>
        <%= t '.studio' %>
      </h3>
      <p><%= link_to movie.studio.name, studio_movies_path(:studio_id => movie.studio.to_param) %></p>
    <% end %>
    
  </div>
  <div>
    <% link_to path, :class => :cover, :title => movie_title do %>
      <%= movie_image_tag movie_image, :width => 62, :height => 95 %>
    <% end %>
  </div>
  <div class="action">
    <h4>
      <% if @category %>
        <%= @category.name %>
      <% else %>
        <% if movie.adult? %>  
          <%= movie.categories.first.name unless movie.categories.empty? %>
        <% else %>
          <%= movie.categories.active.first.name unless movie.categories.active.empty? %>
        <% end %>
      <% end %>
    </h4>
    <div class="stars" id="rating-stars-<%= movie.to_param %>" product_id="<%= movie.to_param %>">
      <%= render :partial => 'movies/rating', :locals => {:movie => movie, :background => rating_color} %>
    </div>
    <% if current_customer %>
    <div class="links" id="seen-uninterested-<%= movie.to_param %>">
      render :partial => 'movies/show/seen_uninterested', :locals => {:movie => movie}
    </div>
    <% end %>
     <!--render :partial => 'movies/wishlist', :locals => {:movie => movie, :text => :long, :source => @source} unless params[:view_mode] == 'streaming' || params[:view_mode] == 'popular_streaming' || params[:view_mode] == 'weekly_streaming' -->
    <%= render :partial => 'movies/streaming', :locals => {:movie => movie, :token => @token } if movie.streaming? and streaming_access? %>
    
  </div>
  
</div>

<% end %>