<div id="maincontent">
<h2 class="ttl"><%= t(".categories#{params[:filter].nil? ? '' : '_vod'}")  %></h2>

<% if params[:kind] == :normal %>
<ul id="categories">
  <%= render :partial => '/categories/item', :collection =>  @categories %>
</ul>
<% else %>
    <%= render :partial => "/actors/menu_#{params[:kind]}" %>
    <ul id="search-studio" class="search-categories">
      <%= render :partial => '/categories/items', :locals => { :categories => @categories[0], :letter => 0} %>

      <% ('a'..'z').each do |l|  %>
        <%= render :partial => '/categories/items', :locals => { :categories => @categories[l], :letter => l} %>
      <% end %>
    </ul>
<% end %>
</div>
<%= render :partial => "products/left_column", :locals => {:filter => @filter} %>
