<div style="margin:40px">
<% if params[:landing_id] %>
<h2><%= @title %></h2>
<div class="text_size">
<% form_for :texts, :url => landing_texts_path(params[:landing_id]), :html => {:method => :put, :multipart => true} do |f| %>
web<br />
<img src='<%= @landing.image %>?id=<%= rand(26) %>' height='145' /><br />
<br /><%= file_field_tag "file_web" %><br /><br />
ipad<br />
<img src='<%= @landing.image_ipad %>?id=<%= rand(26) %>' height='145' /><br />
<br /><%= file_field_tag "file_ipad" %><br /><br />
iphone<br />
<img src='<%= @landing.image_iphone %>?id=<%= rand(26) %>' height='145' /><br />
<br /><%= file_field_tag "file_iphone" %><br /><br />
<h5>title</h5>
fr :<%= text_field_tag :title_fr, @title_fr.text %>
nl :<%= text_field_tag :title_nl, @title_nl.text %>
en :<%= text_field_tag :title_en, @title_en.text %><br />
<h5>description</h5>
fr :<%= text_area_tag :name_fr,@name_fr.text, :size => '90x4' %><br />
nl :<%= text_area_tag :name_nl,@name_nl.text, :size => '90x4' %><br />
en :<%= text_area_tag :name_en,@name_en.text, :size => '90x4' %><br />
<h5>link</h5>
fr :<%= text_field_tag :link_fr, @link_fr.text %>
nl :<%= text_field_tag :link_nl, @link_nl.text %>
en :<%= text_field_tag :link_en, @link_en.text %><br />
<br />
reference_id :<br />
<input name='reference_id' value ='<%= @landing.reference_id %>' />
<br />
fr<br />
<select name='actif_french'>
	<option <%= @landing.actif_french == 'YES' ?  'selected' : '' %>>YES</option>
	<option <%= @landing.actif_french == 'NO' ?  'selected' : '' %> <%= %>>NO</option>
	<option <%= @landing.actif_french == 'BETA' ?  'selected' : '' %> <%= %>>BETA</option>
</select><br />
nl<br />
<select name='actif_dutch'>
	<option <%= @landing.actif_dutch == 'YES' ?  'selected' : '' %>>YES</option>
	<option <%= @landing.actif_dutch == 'NO' ?  'selected' : '' %> <%= %>>NO</option>
	<option <%= @landing.actif_dutch == 'BETA' ?  'selected' : '' %> <%= %>>BETA</option>
</select><br />
en<br />
<select name='actif_english'>
	<option <%= @landing.actif_english == 'YES' ?  'selected' : '' %>>YES</option>
	<option <%= @landing.actif_english == 'NO' ?  'selected' : '' %> <%= %>>NO</option>
	<option <%= @landing.actif_english == 'BETA' ?  'selected' : '' %> <%= %>>BETA</option>
</select><br />
type<br />
<select name='login'>
	<option <%= @landing.login == 'PUBLIC' ?  'selected' : '' %>>PUBLIC</option>
	<option <%= @landing.login == 'PRIVATE' ?  'selected' : '' %>>PRIVATE</option>
	<option <%= @landing.login == 'BOTH' ?  'selected' : '' %>>BOTH</option>
	<option <%= @landing.login == 'ADULT' ?  'selected' : '' %>>ADULT</option>
	<option <%= @landing.login == 'PUBLIC_TEST' ?  'selected' : '' %>>PUBLIC_TEST</option>
</select><br />
<br />
<input type="submit" value ="change">  - <%= link_to 'landings list', landings_path()%>
<br />
<br />
<% end %>
</div>
<% else %>
<h2><%= @title %></h2>
<div class="text_size">
<% form_for :texts, :url => theme_texts_path(params[:theme_id]), :html => {:method => :put} do |f| %>
<h5>title</h5>
fr :<%= text_field_tag :title_fr, @title_fr.text %>
nl :<%= text_field_tag :title_nl, @title_nl.text %>
en :<%= text_field_tag :title_en, @title_en.text %><br />
<br />
<input type="submit" value ="change">  - <%= link_to 'theme list', themes_path(:locale => nil)%>
<br />
<br />
<% end %>
</div>
<% end %>