<!--   ==============   LEFT COLUMN   ==============   -->
<div id="leftcolumn">
  <!-- test -->
  <% form_for :search_filter, filter, {:url => search_filters_path(:view_mode => params[:view_mode], :list_id => params[:list_id], :category_id => params[:category_id], :actor_id => params[:actor_id], :director_id => params[:director_id])} do |f| %>
  <% if ENV['HOST_OK'] == 1 %>
    <%= text_field_tag :search, (params[:search] || t('.search')), {:id => 'search-field'} %>
    <%= content_tag :button, t('.search'), {:type => :submit, :class => 'like-btn'} %>
  <% end %>
  
    <p id="special" <%= "style=\"background: url(#{DVDPost.images_path}/themes/#{I18n.locale}/banner_menu/#{@theme.id}.gif); \"" if @theme && @theme.banner_menu == 1 %>>
      <% if @theme && @theme.banner_menu == 1 %>
        <%= link_to t(".#{@theme.name}"), theme_path(:id => @theme.to_param), :style => "color: #{@theme.banner_menu_text_color}"%>
      <% else%>
        <% special = ProductList.status.theme.highlighted.by_language(DVDPost.product_languages[I18n.locale]).first %>
        <%= link_to special.name, list_products_path(:list_id => special) %>
      <% end %>
    </p>
    <ul id="left-nav">
      <li><%= link_to t('.streaming'), products_path(:view_mode => :streaming), :class => ((params[:view_mode] == 'streaming') ? 'active_close new' : 'close new') if streaming_access? %></li>
      <li><%= link_to t('.recommendations'), products_path(:view_mode => :recommended), :class => ((params[:view_mode] == 'recommended') ? 'active_close' : 'close') %></li>
      <li>
        <div id="categories" class="active"><%= t('.categories') %></div>
        <ul id="categories_list">
          <% name = @category ? "#{ENV['HOST_OK']}_#{I18n.locale}_#{@category.to_param}_#{session[:sexuality]}_#{params[:kind]}" : "#{ENV['HOST_OK']}_#{I18n.locale}_#{session[:sexuality]}_#{params[:kind]}" %>
          <% cache(name) do %> 
            <%= left_column_categories(@category, params[:kind], session[:sexuality], ENV['HOST_OK']) %>
          <% end %>
        </ul>
      </li>
      <li><%= link_to t('.new'), products_path(:view_mode => :recent), :class => ((params[:view_mode] == 'recent') ? 'active_close' : 'close') %></li>
      <li><%= link_to t('.soon'), products_path(:view_mode => :soon), :class => ((params[:view_mode] == 'soon') ? 'active_close' : 'close') %></li>
      <li><%= link_to t('.cinema'), products_path(:view_mode => :cinema), :class => ((params[:view_mode] == 'cinema') ? 'active_close' : 'close') %></li>
      <li><%= link_to t('.vod_adult'), products_path(:kind => :adult, :view_mode => :streaming), :class => 'close', :id => 'vod_adult' if current_customer && streaming_access? %></li>
    </ul>
    <%= render :partial => 'products/index/filters', :locals => {:countries => @countries, :filter => filter, :f => f} if params[:action] == 'index' %>
  <% end %>
</div>
<!--   ==============   END LEFT COLUMN   ==============   -->
