<% product = shop %>
<% path = product_path(:id => product.to_param, :recommendation => @wishlist_source[:theme]) %>
<% streaming_product = (product.streaming?(params[:kind], session[:country_id]) and streaming_access?) ? true : false %>
<% color = params[:kind] == :adult ? :pink : :white %>
<% if product.qty_sale > 0 || Rails.env == 'development' %>
<% media = DVDPost.product_types.invert[product.media] %>
<% test = current_customer.shopping_products.include?(product) %>
<% method = test ? :delete : :post %>
<% cart = test ? current_customer.shopping_carts.find_by_products_id(product.to_param) : nil %>
<% media = t "products.index.filters.#{media}" %>
<% text = test ? t('.remove', :media => media) : t('.add', :media => media) %>
<% class_name = test ? "shop_action btn_remove_form" : "shop_action btn" %>
<li id ="id_<%= product.to_param %>">
  <h2><%= link_to product.title, path, :class =>'title' %></h2>
  <div class="info-link"><%= link_to t('.more'), path %></div>
  <div class="price-info"><strong><%= product.price_sale %> &euro;</strong> <%= t '.tva' %></div>

  <%= render :partial => 'shops/update_form', :locals => {:cart => cart, :product => product, :method => method, :text => text, :class_name => class_name, :ref => nil} %>

  <span class="thumb">
    <%= link_to product_image_tag(product.image, :width => 112, :height => 166, :alt => "#{product.title} (#{product.year})"), path %> <%= product.qty_sale %> <%= media+" "+t('.stock') %>
  </span>
</li>
<% end %>