<p align="center"><% if trailer.youtube? %>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/<%= trailer.remote_id %>&amp;hl=en_US&amp;fs=1?rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/<%= trailer.remote_id %>&amp;hl=en_US&amp;fs=1?rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<% elsif trailer.dailymotion? %>
<object width="480" height="285"><param name="movie" value="http://www.dailymotion.com/swf/video/<%= trailer.remote_id %>_space-symphony-maetel-bande-annonce_creation"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed type="application/x-shockwave-flash" src="http://www.dailymotion.com/swf/video/<%= trailer.remote_id %>_space-symphony-maetel-bande-annonce_creation" width="480" height="285" allowfullscreen="true" allowscriptaccess="always"></embed></object>
<% elsif trailer.film1? || trailer.commeaucinema? || trailer.cinenews? || trailer.imineo? %>
<object width="640" height="385" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf" name="player_api" id="player_api"><param value="true" name="allowfullscreen"><param value="always" name="allowscriptaccess"><param value="high" name="quality"><param value="#000000" name="bgcolor"><param value="config={&quot;plugins&quot;:{&quot;content&quot;:{&quot;url&quot;:&quot;flowplayer.content-3.2.0.swf&quot;,&quot;height&quot;:220,&quot;padding&quot;:30,&quot;backgroundColor&quot;:&quot;#112233&quot;,&quot;opacity&quot;:0.0,&quot;backgroundGradient&quot;:[0.1,0.1,1],&quot;html&quot;:&quot;
	&lt;p&gt;&lt;/p&gt;
&quot;,&quot;style&quot;:{&quot;p&quot;:{&quot;fontSize&quot;:40}}},&quot;controls&quot;:{&quot;url&quot;:&quot;flowplayer.controls-tube-3.2.5.swf&quot;}},&quot;playerId&quot;:&quot;player&quot;,&quot;clip&quot;:{&quot;url&quot;:&quot;<%= trailer.remote_id %>&quot;},&quot;playlist&quot;:[{&quot;url&quot;:&quot;<%= trailer.remote_id %>&quot;}]}" name="flashvars"></object>
<% elsif trailer.allocine? %>
  <object type="application/x-shockwave-flash" id="V6_player" data="http://images.allocine.fr/commons/player/AcV3/AcPlayer_v3.0.swf" width="760px" height="464px" style="visibility: visible; display: block; ">
  <param name="menu" value="false"/>
  <param name="wmode" value="window"/>
  <param name="scale" value="noScale"/>
  <param name="allowFullscreen" value="true"/>
  <param name="allowScriptAccess" value="always"/>
  <param name="bgcolor" value="#000000"/>
  <param name="flashvars" value="<%= trailer.remote_id %>"/>
  </object>
<% elsif trailer.cinemovies? %>
  <object id="ply" width="610" height="458" type="application/x-shockwave-flash" data="http://www.cinemovies.fr/player/export/CineMovies2.swf">
  <param name="wmode" value="transparent">
  <param name="allowfullscreen" value="true">
  <param name="allowscriptaccess" value="always">
  <param name="flashvars" value="<%= trailer.remote_id %>">
  </object>
<% elsif trailer.aamreviews? %>
  <object type="application/x-shockwave-flash" width="450" height="300"wmode="transparent" data="http://www.aamreviews.com/flvplayer.swf?file=http://www.aamreviews.com/flvideo/<%= trailer.remote_id %>&autostart=true&showfsbutton=true">
                  <param name="movie" value="http://www.aamreviews.com/flvplayer.swf?file=http://www.aamreviews.com/flvideo/3372.flv&autostart=true&showfsbutton=true" />
                  <param name="wmode" value="transparent" />
                  <param name="allowScriptAccess" value="sameDomain" />
                  <embed src="http://www.aamreviews.com/flvplayer.swf?file=http://www.aamreviews.com/flvideo/<%= trailer.remote_id %>&autostart=true&showfsbutton=true" loop="False" width="330" height="220" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                  </embed>
  </object>
<% elsif trailer.dorcel? %>
  <object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=,0,0,0" id="AnimationFlash" width="330" height="220" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
  <param name="allowScriptAccess" value="always"/>
  <param name="movie" value="<%= trailer.remote_id %>"/>
  <param name="swLiveConnect" value="TRUE"/>
  <param name="quality" value="high"/>
  <param name="bgcolor" value=""/>
  <param name="wmode" value="opaque"/>
  <embed id="AnimationFlash" allowscriptaccess="always" width="330" height="220" src="<%= trailer.remote_id %>" swliveconnect="TRUE" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" bgcolor="" wmode="opaque" type="application/x-shockwave-flash"/>
  </object>
<% elsif trailer.ecranlarge? %>
  <object width="640" height="510"><param name="movie" value="http://www.ecranlarge.com/v/<%= trailer.remote_id %>"></param><param name="wmode" value="transparent"></param><embed src="http://www.ecranlarge.com/v/<%= trailer.remote_id %>" type="application/x-shockwave-flash" wmode="transparent" width="640" height="510"></embed></object>
<% else %>
  <%= link_to trailer.url, trailer.broadcast_service.humanize, :target => :_blank %>
<% end %>
<%= will_paginate trailers, :class => 'products-pagination', :previous_label => '&nbsp;', :next_label => '&nbsp;', :param_name => 'trailer_page', :id => 'trailer_pagination' %>
</p>