<% if current_customer %>
<div id = "vod_list_<%= product.to_param %>">
  <% if item = current_customer.vod_wishlists.find_by_imdb_id(product.imdb_id) %>
    <% form_for(:vod_wishlist, :url => vod_wishlist_path(:id => item.to_param), :html => {:method => :delete}) do |f| %>
      <%= f.hidden_field :product_id, :value => product.to_param %>
      <%= f.hidden_field :submit_id, :value => "vod_list_#{product.to_param}" %>
      <%= submit_tag 'drop from vod list', :class => 'streaming_soon_btn streaming_remove_list', :style => 'border:0px;cursor:pointer' %>
    <% end %>
  <% else %>
    <% form_for :vod_wishlist, :url => vod_wishlists_path() do |f| %>
      <%= f.hidden_field :imdb_id, :value => product.imdb_id %>
      <%= f.hidden_field :product_id, :value => product.to_param %>
      <%= f.hidden_field :submit_id, :value => "vod_list_#{product.to_param}" %>
      <%= submit_tag 'add to vod list', :class => "streaming_soon_btn streaming_add_list", :style => 'border:0px;cursor:pointer' %>
    <% end %>
  <% end %>
</div>
<% end %>