<!--   ==============   MAIN CONTENT   ==============   -->
<div id='fb-root'></div>
<script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
<script type="text/javascript">
FB.init({
				appId : "254486224617136",
				status : true,
				cookie : true
			});

			function postToFeed(text, image, locale, id, name, caption) {

				// calling the API ...
				var obj = {
					method : 'feed',
					link : 'http://public.dvdpost.com/'+locale+'/products/'+id,
					picture : image,
					name : name,
					caption : caption,
					description : text,
				};

				function callback(response) {
					/*alert("Post ID: " + response['post_id']);*/
				}


				FB.ui(obj, callback);
			}
</script>
<div id="maincontent">
  <%= render :partial => 'layouts/filters', :locals => {:filter => @filter } %>
  <div id="detail-wrap">
    <div class="top"></div>
    <!-- Detail -->
    <h2>
      <%= "#{@product_title} (#{@product.year})" %> <%= image_tag "3d_icon.png" if @product.bluray3d? %> <%= image_tag "3d2d_icon.png" if @product.bluray3d2d? %>
    </h2>
    <div class="box">
      <div class="box-content clearfix">
        <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div id="details">
          <%= render :partial => 'products/show/product', :object => @product %>
          <div class="action">
            <% if @product.dvdposts_choice? %>
              <div id="dvdpost-coup">
                <%= image_tag 'dvdpost-coup.png' %>
                <%= t '.dvdpost_choice' %>
              </div>
            <% end %>
            <div align="center">
                <%= t '.rate' %>
                <%= "(#{@product.rating_count} #{t('.count')})" %>
            </div>
            <ul>
              <li class="stars" id="rating-stars-<%= @product.to_param %>" product_id ="<%= @product.to_param %>">
                <%= render :partial => 'products/rating', :locals => {:product => @product, :background => @rating_color} %>
              </li>
              <% if current_customer %>
                <li class="links" id="seen-uninterested-<%= @product.to_param %>">
                  <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => @product} %>
                </li>
              <% end %>
            </ul>
            <% if params[:kind] == :adult && @product.in_streaming_or_soon? %>
              <div>
                <%= image_tag "icon12h.gif", :align => 'absmiddle' %> <%= t '.vod_duration' %>
              </div>
            <% end %>
            <%= available_on_other_media(@product, params[:recommendation]) %>
            <%= available_on_other_language(@product, params[:recommendation]) %>
            <% if 1 == 0 && @product.available_to_sale? %>
              <div id="buy">
                <%= link_to t('.buy'), product_shop_path(@product), :title => t('.buy'), :id => 'acheter-btn', :target => :_blank %>
                <%= "&euro; #{@product.products_sale_price}" %>
              </div>
            <% end %>
            <%= image_tag 'oeil.gif', :alt => 'already seen' if @already_seen %>
          </div>
          <div class="clear"></div>
          <%= render :partial => 'products/preview', :locals => {:product => @product, :type => params[:kind]} %>
          <div id="sinopsis">
            <h3>
              <%= t '.synopsis' %>
            </h3>
            <p><%= @product_description.text %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Detail -->
    <!-- Carousel -->
    <%= render :partial => 'products/show/recommendations', :object => @recommendations, :locals => { :rating_color => @rating_color } if @recommendations && @recommendations.size > 0 %>
    <!-- End Carousel -->
    <!-- Critique -->
    <ul class="tabs">
      <li class="active" id='tab1_li'>
        <%= link_to t('.members_critic'), '#tab1', :id => 'tab1_menu' %>
      </li>
      <% if (@cinopsis && !@cinopsis.empty?) %>
        <li id='tab2_li'>
          <%= link_to t('.cinopsis_critic'), '#tab2', :id => 'tab2_menu' %>
        </li>
      <% end %>
    </ul>
    <div class="box">
      <div class="box-content clearfix">
        <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div class="tab_container">
          <div id="tab-content-movie" class="tab_content">
            <% if @reviews_count > 0 %>
            <ul class="clearfix content_item">
              <%= render :partial => 'products/show/reviews', :locals => {:product => @product, :reviews_count => @reviews_count, :reviews => @reviews} %>
            </ul>
            <% else %>
              <% if current_customer %>
                <p>
                  <%= t '.no_review' %>
                  <%= link_to "#{t('.be_the_first')} #{@product_title}!", new_product_review_path(:product_id => @product.to_param), :id => 'add_new_review' %>
                </p>
                <% end %>
            <% end %>
          </div>
          <div id="tab2" class="tab_content" style="display:none">
            <% if @cinopsis == false %>
              <br />
              <p class='error'>
                <%= t '.critic_unavailable' %>
              </p>
            <% else %>
              <%= @cinopsis %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Critique -->
    <div class="end"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<% if params[:kind] == :normal %>
  <%= render :partial => 'products/left_column', :locals => {:filter => @filter} %>
<% else %>
  <%= render :partial => 'products/left_column_adult', :locals => {:filter => @filter} %>
<% end %>
<% if params[:add].to_i == 1%>
  <% submit_id = "p_#{@product.to_param}_#{rand(10)}"%>
  <div id='add' style='display:none'><%= new_product_wishlist_item_path(:product_id => @product.to_param, :source => @source, :submit_id => submit_id, :text => :long, :load_color => :normal) %></div>
<% end %>
<% if params[:review].to_i == 1%>
  <div id='review' style='display:none'><%= new_product_review_path(:product_id => @product.to_param) %></div>
<% end %>
