<div class="content">
  <div id="critical_title"><%= "#{@movie.title} (#{@movie.year})"%></div>
  <% form_for @review, :url => movie_reviews_path(:movie_id => @review.movie_id) do |f| %>
  <fieldset>
		<p class="critical_explain"> 
	    <%= f.label t('.review_note') %> : 
	  </p>
	  <%= render :partial => 'movies/rating_review', :locals => {:movie => @movie} %>
	  <%= f.hidden_field :rating, :value => 0 %>
	  
		<p class="critical_explain">
		    <%= f.label t('.review_title') %> :
		</p>
		<%= f.text_area :text, :class => 'input',:cols => 60, :rows => 10 %>
	  <p class="critical_explain_footer">
	     <%= t('.review_warning') %>
	  </p>
	  <p align="right">
	    <%= f.submit t('.create'), :class => 'review_new' %>
	  </p>
  </fieldset>
  <br/>
<% end %>
<div style="display:none" id='popup_rating_error'><%= t('.rating_error')%></div>
</div>
