<% content = article.contents.by_language(I18n.locale).first %>
<% if content %>
<% path = chronicle_path(:id => article.to_param) %>
<li> 
  <div class="cross">
    <%= link_to image_tag(article.cover.url(:small), :width => 200), path %>
  </div>
   <span class="icon">
     <%= image_tag article.category.image, :size => "47x49" if article.category %>
   </span>
  <h3>
    
    <%= link_to content.title, path %>
  </h3>
  <p><em><%= content.subtitle %></em></p>
  <p><%= content.description %></p>
  <div align="right">
    <%= link_to t('.more'), path %>
  </div>
</li>
<% end %>