<% first = first_item.contents.by_language(I18n.locale).first %>
<% path = chronicle_path(:id => first_item) %>
<div id="article"> 
  <%= link_to image_tag(first_item.image, :size => "237x318", :class => "left"), path %>
  <!-- to do rating -->
  <h2><%= link_to first.title, path %></h2>
  <h3><%= first.subtitle %></h3>
  <p><%= first.description %></p>
  <div align="right">
    <%= link_to "<strong>Lire la suite</strong>", path %>
  </div>
</div>