<div id="maincontent" >
  <div id="hp-article">
    <%= render :partial => "first", :locals => {:first_item => @chronicle} if @chronicle %>
    <!-- Sidebar nav -->
    <%= render :partial => "menu", :locals => {:categories => @categories} %>
  </div><!-- #hp-article --> 
  
  <!-- ANCIENS ARTICLES -->
  <div id="aa-wrap">
    <div id="carousel-wrap">
      <div class="ttl f-btn <%= I18n.locale %>"><%= t('.old') %></div>
      <ul id="carousel">
        <%= render :partial => 'article', :collection => @chronicles %>        
      </ul>
      <% if @nb_page > 1 %>
      <div id="carousel-nav">
        <span id="prev">
          <%= will_paginate @chronicles, :previous_label => 'Prev', :next_label => 'Next'  %>
        </span>
      </div>
      <% end %>
    </div><!-- #carousel-wrap -->
  </div>
</div>
