<div id='fb-root'></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=254486224617136";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% url = "http://public.dvdpost.com/#{I18n.locale}/chronicles/#{params[:id]}" %>
<% content = Rails.env == 'production' ? @chronicle.contents.by_language(I18n.locale).private.first : @chronicle.contents.by_language(I18n.locale).beta.first %>
<% if content %>
  <!--   ==============   MAIN CONTENT   ==============   -->
  <div id="maincontent" >
    <div id="articles-wrap">
    	<div id="content">
  	    <%= image_rating(@chronicle.rating) if @chronicle.rating > 0 %>
        <h2><%= t("chronicles.menu.cat_#{@chronicle.category.to_param}") %> : <%= title = content.title %></h2>
        <p><em><%= content.subtitle %></em></p>
        <p>
          <%= content.full_description %>
        </p>
        <div class="fb-comments" data-href="<%= url %>" data-num-posts="10" data-width="595" style='background:#FFF'></div>
      
      </div><!-- #content -->
      <div id="left-sidebar">
        <% img = image_tag content.cover.url(:small), :width => 237 %>
      	<%=  @chronicle.imdb_id ? link_to(img, products_path(:imdb_id => @chronicle.imdb_id)) : img %>
        <div id="social-wrap">
      		<div class="fb-like" data-href="<%= url %>" data-send="false" data-layout="box_count" data-width="100" data-show-faces="false" style='height:62px'></div>
      		<%= link_to "add to wish", products_path(:imdb_id => @chronicle.imdb_id), :class => "add #{I18n.locale}", :target => "_blank" if @chronicle.imdb_id %>
      		<% if @chronicle.imdb_id %>
      		  <% path = ENV['HOST_OK'] == "1" ? product_step_path(:product_id => @chronicle.products.first) : streaming_product_path(:id => @chronicle.imdb_id, :warning => 1) %>
      		  <%= link_to "regarder en vod", path, :class => "streaming #{I18n.locale}", :target => "_blank" if streaming_access? && @chronicle.streaming_products.available.count > 0 %>
      		<% end %>
        </div>
      
      </div><!-- #left-sidebar -->
    
    </div><!-- #articles-wrap --> 
  </div>
  <!--   ==============   END MAIN CONTENT   ==============   --> 
  </div>
  <% content_for :facebook do %>
      <meta property="og:image" content="<%= content.cover.url(:small) %>"/> 
      <meta property="og:type" content="article">
      <meta property="og:title" content="<%= "#{t('layouts.chronicles.title')} : #{title}" %>">
      <meta property="og:url" content="<%= url %>">
      <meta property="og:site_name" content="DVDPost"/>
      <meta property="fb:admins" content="542538810,100002847398876"/>
      <meta property="og:description" content="<%= content.description.gsub(/<\/?.*?>/, "") %>">
  <% end %>
<% end %>

<% content_for :title do %>
  <%= "#{t('layouts.chronicles.title')} : #{title}" %>
<% end %>
