<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div id="articles-wrap">
  	<div id="content">
	    <%= image_rating(@chronicle.rating) if @chronicle.rating > 0 %>
      <h2><%= t("chronicles.menu.cat_#{@chronicle.category.to_param}") %> : <%= title = @chronicle.contents.by_language(I18n.locale).first.title %></h2>
      <p><em><%= @chronicle.contents.by_language(I18n.locale).first.subtitle %></em></p>
      <p>
        <%= @chronicle.contents.by_language(I18n.locale).first.full_description %>
      </p>
    </div><!-- #content -->
    <div id="left-sidebar">
    	<%= image_tag @chronicle.cover.url(:small), :width => 237 %>
      <div id="social-wrap">
        <% url = "http://public.dvdpost.com/#{I18n.locale}/chronicles/#{params[:id]}" %>
    		<iframe src="http://www.facebook.com/plugins/like.php?href=<%= CGI::escape(url) %>&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe> 
    		<%= link_to "add to wish", products_path(:imdb_id => @chronicle.imdb_id), :class => :add if @chronicle.imdb_id %>
    		<% if @chronicle.imdb_id %>
    		  <% path = ENV['HOST_OK'] == "1" ? php_path('step1.php') : streaming_product_path(:id => @chronicle.imdb_id, :warning => 1) %>
    		  <%= link_to "regarder en vod", path, :class => :streaming if streaming_access? %>
    		<% end %>
      </div>
    </div><!-- #left-sidebar -->
  </div><!-- #articles-wrap --> 
  
</div>
<!--   ==============   END MAIN CONTENT   ==============   --> 
</div>
<% content_for :facebook do %>
    <meta property="og:image" content="<%= @chronicle.cover.url(:small) %>"/> 
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= "#{t('layouts.chronicles.title')} : #{title}" %>">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:site_name" content="DVDPost"/>
    <meta property="fb:admins" content="542538810,586983921"/>
    <meta property="og:description" content="<%= @chronicle.contents.by_language(I18n.locale).first.description.gsub(/<\/?.*?>/, "") %>">
<% end %>
<% content_for :title do %>
  <%= "#{t('layouts.chronicles.title')} : #{title}" %>
<% end %>