<div id="maincontent">
  <% if !(params[:filter] && params[:filter].to_sym == :vod) %>
    <h2 class="ttl"><%= t('products.left_column.studio') %></h2>
    <% if params[:kind] == :adult %>
      <%= render :partial => "/actors/menu_#{params[:kind]}" %>
    <% end %>
    
    <p id="letters">
      <% ('a'..'z').each do |l| %>
        <%= link_to l.upcase, studios_path(:letter => l) %> |
      <% end %>
    </p>
    <br />
    <ul id="search-studio">
    <% if params[:letter].nil? %>
      <%= render :partial => '/studios/index/studios', :locals => { :studios => @studios[0], :studios_count => @studios_count[0],  :letter => 0, :show => :limit} %>
      <% ('a'..'z').each do |l|  %>
        <%= render :partial => '/studios/index/studios', :locals => { :studios => @studios[l], :studios_count => @studios_count[l],  :letter => l, :show => :limit} %>
      <% end %>
    <% else %>
      <%= render :partial => '/studios/index/studios', :locals => { :studios => @studios, :studios_count => 0,  :letter => params[:letter] , :show => :all} %>
    <% end %>
    </ul>
  <% else %>
    <h2 class="ttl"><%= t('.studio_vod') %></h2>
    <% if params[:kind] == :adult %>
      <%= render :partial => "/actors/menu_#{params[:kind]}" %>
    <% end %>
    
    <div class='center'>
      <%= render :partial => '/studios/index/studio_pict', :collection =>  @studios %>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<%= render :partial => 'products/left_column', :locals => {:filter => @filter} %>
