<div id="faq-content-wrap">
  <div id="faqdvd-intro-wrap">
    <h2><%= t '.title' %></h2>
  </div>
  <!-- #vod-faq -->
  <div id="faqdvd_intro" class="clearfix">
    <div id="dvd-intro">
      <div class="cols" id="col1">
        <%= image_tag 'dvdbluray.jpg' %>
        <h4><%= t '.choose_title' %></h4>
        <%= t '.choose' %>
      </div>
      <!-- #col1 -->
      <div class="cols" id="col1">
        <%= image_tag '24.jpg' %>
        
        <h4><%= t '.letter_title' %></h4>
        <%= t '.letter' %>
      </div>
      <div class="cols" id="col1">
        <%= image_tag 'poste.jpg' %>
        <h4><%= t '.poste_title' %></h4>
        <%= t '.poste' %>
      </div>
      <!-- #col3 -->
    </div>
  </div>
  <!-- #vod-plus -->
  <div id="dvd-info-wrap">
    <h3><%= t '.disc_title' %></h3>
    <div id="dvd-plus" class="clearfix">
      <%= t '.disc' %>
    </div>
    <!-- #vod-plus -->
  </div>
</div>