<div id='fb-root'></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=254486224617136";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="hp-content">
  <div class="appmob">
    <div class="topcontent">
      <h1><%= t '.h1' %></h1>
      <h2><%= t '.h2' %></h2>
      <span class="freeribbon <%= I18n.locale %>">&nbsp;</span> </div>
    <div class="col_left">
      <ul>
        <li class="market">
          <a target="_blank" href="<%= DVDPost.itunes_url(I18n.locale) %>">
            <%= image_tag "#{I18n.locale}/button_applestore.gif" %>
          </a>
        </li>
        <li class="facebookbox"><%= t '.facebook' %></span>
          <ul>
            <li> 
              <div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-action="like" data-layout="box_count"></div>
             </li>
          </ul>
        </li>
        <li class="itunesbox"><%= t '.itunes' %>
          <a target="_blank" title="Notez l'application sur iTunes" href="<%= DVDPost.itunes_url(I18n.locale) %>">
            <%= image_tag "stars.png" %>
          </a>
        </li>
        <li class="uservoice"><%= t '.about' %><br>
          <a title="Donner mon avis sur l'application DVDPost" target="_blank" href="<%= DVDPost.itunes_url(I18n.locale) %>"><%= t '.advise' %></a> </li>
      </ul>
    </div>
    <div class="col_content">
      <ul class="list_visual">
        <li><%= link_to image_tag("ipad_1_little.jpg"), image_path("ipad_1_big.jpg"), :class => :face_img %></li>
        <li><%= link_to image_tag("ipad_2_little.jpg"), image_path("ipad_2_big.jpg"), :class => :face_img %></li>
        <li><%= link_to image_tag("ipad_3_little.jpg"), image_path("ipad_3_big.jpg"), :class => :face_img %></li>
        <li><%= link_to image_tag("ipad_4_little.jpg"), image_path("ipad_4_big.jpg"), :class => :face_img %></li>
      </ul>
      <h2><%= t '.features_title' %></h2>
      <ul class="list_function">
        <%= t '.features' %>
      </ul>
    </div>
    
     <div style="clear:both"></div>
  </div>
</div>
