<div class="container desktop clearfix">
  <div id="prices">
    <h1><%= t '.title_abo' %></h1>
    <div class="all-container">
      <div class="prices-container" align="left">
        <%= render :partial => "info/price_menu" %>
        <div class="clearfix"></div> 
        <!--  Formules Actifs-->
        <div class="formula dvd active" id='f1_content'>
          <ul>
            <li class="prices">
              <h2>2 <%= t('.films') %></h2>
              <p align="center"><%= t '.only_vod' %><br /><br /></p>
               <h4><%= Product.find(127761).price %>€<br />
                <span><%= t('.per_month') %></span>
              </h4>
              <div align="center"><a class="button" href="<%= php_path("step1.php?activation_code=ABO2") %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices populaire size">
              <div class="icon_populaire fr"></div>
              <h2>4 <%= t('.films') %></h2>
              <p align="center"><%= t('.max_dvd', :number => 2) %></p>

              <h4><%= Product.find(127763).price %> €<br />
                <span><%= t('.per_month') %></span>
              </h4>
              <div align="center"><a class="button" href="<%= php_path("step1.php?activation_code=ABO4") %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices">
              <h2>6 <%= t('.films') %></h2>
              <p align="center"><%= t('.max_dvd', :number => 4) %></p>
              <h4><%= Product.find(127765).price %> €<br />
                <span><%= t('.per_month') %></span>
              </h4>
              <div align="center"><a class="button" href="<%= php_path("step1.php?activation_code=ABO6") %>"><%= t '.signup' %></a></div>
            </li>
            <li class="prices">
              <h2>8 <%= t('.films') %></h2>
              <p align="center"><%= t('.max_dvd', :number => 6) %></p>
              <h4><%= Product.find(127766).price %> €<br />
                <span><%= t('.per_month') %></span>
              </h4>
              <div align="center"><a class="button" href="<%= php_path("step1.php?activation_code=ABO8") %>"><%= t('.signup') %></a></div>
            </li>
          </ul>
          <div class="clearfix"></div>
          <div class="more_formula" align="right"><a class="button" href="" id="more"><%= t('.more') %></a></div>
          <div id="pricing" style="display:none">
            <h4 class="maven" id="formula"><%= t('subscriptions.edit.all_formula') %></h4>
            <form method="get" action="<%= php_path('step1.php') %>" id ='form_account'>
              <input type="hidden" name="activation_code" id="customer_next_abo_type_id">
              <input type="hidden" name="language" value="<%= I18n.locale %>">

              <table width="550" cellspacing="0" cellpadding="0" border="0" align="left" class="new_table_abo">
                <tbody>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40">
                      <div id="ABO2" class="check">
                      </div>
                    </td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">2 <%= t('.films') %></span> 
                    </td>
                    <td width="200" align="left">
                      <%= t('.only_vod') %>
                    </td>
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127761).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO3" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">3 <%= t('.films') %></span>
                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 2) %>
                    </td> 
                    <td width="150" align="right" class="price"><span class="integer"><%= price_format(Product.find(127762).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO5" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">5 <%= t('.films') %></span> 
                    </td> 
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 3) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127764).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO6" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">6 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 4) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127765).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO8" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">8 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 6) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127766).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO11" class="check"></div></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">11 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 8) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127767).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO13" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">13 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 10) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127768).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO15" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">15 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 12) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127769).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO18" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">18 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 14) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127770).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO20" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">20 <%= t('.films') %></span> 

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 16) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127771).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                  <tr class="new_abo" style="display: table-row;">
                    <td width="40"><div id="ABO22" class="check"></div></td> 
                    <td width="120" align="left" <b="">
                      <span class="title_pricing">22 <%= t('.films') %></span>

                    </td>
                    <td width="200" align="left">
                      <%= t('.max_dvd', :number => 18) %>
                    </td> 
                    <td width="150" align="right" class="price"><%= price_format(Product.find(127772).price) %> € <span class="month"><%= t('.per_month') %> </span></td>
                  </tr>
                </tbody>
              </table>
              <div align="center">
                <button class="button_confirm_rec" type="submit"><%= t('.signup') %></button>
              </div>
            </form>
            <div style="margin:20px 45px; font-size:10px"><%= t '.send' %></div>
          </div>
        </div>


        <h3><%= t '.how' %></h3>
        <p align="justify"><%= t '.how1' %></p>
        <p align="justify"><% t '.how2' %></p>
        <p align="justify"><%= t '.how3' %></p>
        <div id="subscribe-wrap" class="osc fr">
          <div class="wrap">
            <h3><%= t '.sub' %></h3>
          </div>
          <div id="subscribe"> <a href="<%= php_path("step1.php?activation_code=#{@promo_code}") %>" class="btn"><%= t '.signup_short' %></a>
            <p><a href="<%= edit_public_promotion_path() %>" id="codePromo"><%= t('.code_promo')%></a></p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div id='aste'>* <%= t '.send' %></div>
      </div>
    </div>
    <div class="faq-container">
      <h3><%= t '.faq' %></h3>
      <% 1..6.times do |n| %>
      <% if n != 0 && n != 1 %>
      <div class="faq-info-wrap">
        <h4 id='faq_<%= n %>'>
          <span class="button <%= n == 0 ? 'open' : 'close' %>"></span>
          <div class='question'><%= t(".question_#{n}")%></div>
        </h4>
        <div style="display: <%= n == 0 ? 'block' : 'none' %>;" class="clearfix q" id="faq_<%= n %>_r">
          <p align="left"><%= t(".response_#{n}", :vod_link => streaming_products_faq_path, :dvd_link => info_path(:page_name => :dvd))%>
          </p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="clearfix"></div>

  </div>