<div id="prices">
  <h2><%= t '.title' %></h2>
  <div class="all-container">
    <div class="prices-container left" align="left">
      <table>
        <tr>
          <td colspan="5">
            <h4><%= t '.desc' %></h4>
          </td>
        </tr>
        <%= render :partial => 'reconductions/edit/new_abo', :collection => @list_abo, :locals => {:current_abo_credit => nil, :selected_abo => nil} %>
      </table>
    </div>
    <div id="promo_area2" class="right">
      <h4><%= t '.title_code' %></h4>
      <form name="form1" method="post" action="<%= php_path 'activation_code_confirm.php' %>" align="center">
        <input name="code" id="code" class="inputs_codes" value="<%= params[:code] %>" size="20" type="text">
        <input class="no_border_button go" type='submit' align="absmiddle" border="0" value="GO" />
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
  <div style="margin:20px 45px; font-size:10px">* <%= t('.send') %></div>  
</div>