<div id="prices">
  <h2><%= t '.title' %></h2>
  <div class="all-container">
    <div class="prices-container" align="left">
      <h3><%= t '.subtitle' %></h3>
      <ul>
        <%= t '.li' %>
      </ul>
      <table align="center">
        <%= render :partial => 'reconductions/edit/new_abo', :collection => @list_abo, :locals => {:current_abo_credit => nil, :selected_abo => nil} %>
      </table>
      <%= link_to t('.register'), php_path('step1.php'), :class => "btn #{I18n.locale}" %>
    </div>
    <div id="promo_area2">
      <h4><%= t '.title_code' %> <a href="<%= info_path(:page_name => 'promo') %>" id="codePromo"><%= t('.here') %></a></h4>
      
    </div>
    <div class="clearfix"></div>
  </div>
  <div style="margin:20px 45px; font-size:10px">* <%= t('.send') %></div>  
</div>