<% if !mobile_request? %>
<div class="container desktop clearfix">
  <div id="prices">
    <h2><%= t '.title_abo' %></h2>
    <div class="all-container">
      <div class="prices-container" align="left">
        <h3><%= t '.select' %></h3>
  
        <ul id="formule_tab">
          <li class="formule active" id ="f1">
            <h4><%= t '.active' %></h4>
            <a  href="">
              <%= image_tag 'actif.jpg', :size => '185x122', :alt => 'actif' %>
            </a>
            <p><%= t '.active_desc' %></p>
            <a class="button" href="#"><%= t '.discover' %></a> </li>
          <li class="formule" id ="f2">
            <h4><%= t '.cine' %></h4>
            <a  href="">
              <%= image_tag 'cinephile.jpg', :size => '185x122', :alt => 'cinephile' %>
            </a>
            <p><%= t '.cine_desc' %></p>
            <a class="button " href="#"><%= t '.discover' %></a> </li>
          <li class="formule" id ="f3">
            <h4><%= t '.family' %></h4>
            <a  href="">
              <%= image_tag 'membredefamille.jpg', :size => '185x122', :alt => 'membredefamille' %>
            </a>
            <p><%= t '.family_desc' %></p>
            <a class="button" href="#"><%= t '.discover' %></a> </li>
        </ul>
    
        <div class="clearfix"></div>
        <!--  Formules Actifs-->
        <div class="formula active" id='f1_content'>
          <ul>
            <li class="prices" >
              <h2>2 <%= t '.films' %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p style="padding-bottom:47px;"><%= t '.only_vod' %></p>
             
              <h4>4.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php?activation_code=full') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices">
              <h2>3 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 2) %></p>
              <p><%= t '.minimum_vod', :number => 1 %></p>
              <h4>7.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices populaire">
            <div class="icon_populaire <%= I18n.locale %>"></div>
              <h2>4 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 2) %></p>
              <p><%= t '.minimum_vod', :number => 2 %></p>
              <h4>9.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t '.try' %></a></div>
            </li>
            <li class="prices">
              <h2>5 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 3) %></p>
              <p><%= t '.minimum_vod', :number => 2 %></p>
              <h4>12.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!--  Formules cinéphiles-->
        <div class="formula" id='f2_content' style="display:none">
          <ul class="clearfix">
            <li class="prices" >
              <h2>6 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 4) %></p>
              <p><%= t '.minimum_vod', :number => 2 %></p>
              <h4>14.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices">
              <h2>8 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 6) %></p>
              <p><%= t '.minimum_vod', :number => 2 %></p>
              <h4>19.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices populaire">
              <h2>11 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 8) %></p>
              <p><%= t '.minimum_vod', :number => 3 %></p>
              <h4>22.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices">
              <h2>13 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 10) %> </p>
              <p><%= t '.minimum_vod', :number => 3 %></p>
              <h4>26.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!--  Formules familles-->
        <div class="formula" id='f3_content' style="display:none">
          <ul class="clearfix">
            <li class="prices" >
              <h2>15 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 12) %> </p>
              <p><%= t '.minimum_vod', :number => 3 %></p>
              <h4>30.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices">
              <h2>18 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 14) %> </p>
              <p><%= t '.minimum_vod', :number => 4 %></p>
              <h4>33.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices populaire">
              <h2>20 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 16) %> </p>
              <p><%= t '.minimum_vod', :number => 4 %></p>
              <h4>36.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
            <li class="prices">
              <h2>22 <%= t('.films') %>*<br />
                <span><%= t('.per_month') %></span></h2>
              <p><%= t('.max_dvd', :number => 18) %> </p>
              <p><%= t '.minimum_vod', :number => 4 %></p>
              <h4>39.95 €<br />
                <span><%= t('.per_month') %></span></h4>
              <div align="center"><a class="button" href="<%= php_path('step1.php') %>"><%= t('.signup') %></a></div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <h3><%= t '.how' %></h3>
        <p align="justify"><%= t '.how1' %></p>
        <p align="justify"><%= t '.how2' %></p>
        <p align="justify"><%= t '.how3' %></p>
        <div id="subscribe-wrap" class="osc fr">
          <div class="wrap">
            <h3><%= t '.sub' %></h3>
          </div>
          <div id="subscribe"> <a href="<%= php_path('step1.php') %>" class="btn"><%= t '.signup_short' %></a>
            <p><a href="<%= edit_public_promotion_path() %>" id="codePromo"><%= t('.code_promo')%></a></p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div id='aste'>* <%= t '.send' %></div>
      </div>
    </div>
    <div class="faq-container">
      <h3><%= t '.faq' %></h3>
      <% 1..6.times do |n| %>
      <div class="faq-info-wrap">
        <h4 id='faq_<%= n %>'>
          <span class="button <%= n == 0 ? 'open' : 'close' %>"></span>
          <%= t(".question_#{n}")%>
        </h4>
        <div style="display: <%= n == 0 ? 'block' : 'none' %>;" class="clearfix q" id="faq_<%= n %>_r">
          <p align="justify"><%= t(".response_#{n}", :vod_link => streaming_products_faq_path, :dvd_link => info_path(:page_name => :dvd))%>
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<% else %>

<div id="prices">
  <% unless mobile_request? %><h2><%= t '.title' %></h2><% end %>
  <div class="all-container">
    <div class="prices-container" align="left">
      <h3><%= t '.subtitle' %></h3>
      <ul>
        <%= t '.li' %>
      </ul>
      <table align="center">
        <%= render :partial => 'reconductions/edit/new_abo', :collection => @list_abo, :locals => {:current_abo_credit => nil, :selected_abo => nil} %>
      </table>
      <%= link_to t('.register'), php_path('step1.php'), :class => "btn #{I18n.locale}" if !mobile_request?  %>
    </div>
    <% if !mobile_request? %>
      <div id="promo_area2">
        <h4><%= t '.title_code' %> <a href="<%= info_path(:page_name => 'promo') %>" id="codePromo"><%= t('.here') %></a></h4>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>
  <div id='aste'>* <%= t('.send') %></div>  
</div>
<% end %>