
<div class="osc <%= I18n.locale %>" id="subscribe-wrap">
  <div class="wrap"><h3><%= t '.promo' %></h3>
    <div id="promo"><%= t '.huge_catalog' %></span></div>
  </div>
  <div id="subscribe">
    <a class="btn" href="<%= php_path (params[:controller] =='home') ? 'step1.php?emplacement=home1' : 'step1.php' %>"><%= t '.signup_short' %></a>
    <p><a id="codePromo" href="<%= edit_public_promotion_path() %>"><%= t '.code_promo' %></a></p>
  </div>
</div>