<div class="banner_title"><%= t '.huge_catalog' %></div>
<div class="banner_step" align="center" style='background: url("http://www.dvdpost.be/images/landings_public/<%= I18n.locale%>/bg_banner_<%= rand(5)+1 %>.jpg") no-repeat scroll 32px 0pt transparent;'>
  <p><%= t '.promo' %></p>
        <span><a href="http://www.dvdpost.be/step1.php" target="_blank" class="signup_button"><%= t '.signup' %></a></span> <span><a id="codePromo" href="<%= info_path(:page_name => 'promo') %>"><%= t '.code_promo' %></a></span>
</div>