<div id="subscribe-wrap" class="osc">
  <div class="wrap"><h3><%= t '.huge_catalog' %></h3>
    <div id="promo"><%= t '.promo' %></div>
  </div>
  <div id="subscribe">
    <a href="#" class="btn"><%= t '.signup_short' %></a>
    <p><a href="<%= info_path(:page_name => 'promo') %>" id="codePromo"><%= t '.code_promo' %></a></p>
  </div>
</div>