
<div class="osc <%= I18n.locale %>" id="subscribe-wrap">
  <div class="wrap"><h3><%= t 'layouts.call_to_action.promo' %></h3>
    <div id="promo"><%= t 'layouts.call_to_action.huge_catalog' %></span></div>
  </div>
  <div id="subscribe">
    <a class="btn" href="<%= php_path 'step1.php' %>"><%= t 'layouts.call_to_action.signup_short' %></a>
    <p><a id="codePromo" href="<%= edit_public_promotion_path() %>"><%= t 'layouts.call_to_action.code_promo' %></a></p>
  </div>
</div>