<!--   ==============   FOOTER   ==============   -->
<div id="footer" >
  <div class="wrap">
    <ul>
      <li><h4><%= t '.explore' %></h4></li>
      <li><%= link_to t('layouts.header.home'), root_path %></li>
      <li><%= link_to t('layouts.header.explore'), products_path %></li>
      <% if ENV['HOST_OK'] == "0" %>
        <li><%= link_to t('layouts.header.wishlist'), vod_wishlists_path %></li>
        <li><%= link_to t('layouts.menu.contact'), messages_path %></li>
        <% unless params[:kind] == :adult %>
        <li><%= link_to t('layouts.header.adult'), root_path(:kind => :adult) %></li>
        <% end %>
      <% else %>
        <li><%= link_to t('layouts.header.price'), info_path(:page_name => 'price') %></li>
        <li><%= link_to t('layouts.menu.contact'), new_phone_request_path() %></li>
        <% unless params[:kind] == :adult %>
          <li><%= link_to t('layouts.header.adult').downcase, root_path(:kind => :adult) %></li>
        <% end %>
      <% end %>
    </ul>
    <ul>
      <li><h4><%= t '.follow' %></h4></li>
      <li><%= link_to "Facebook", DVDPost.fb_url[I18n.locale] %></li>
      <li><%= link_to "Twitter", twitter_url %></li>
    </ul>
    <ul>
      <li><h4><%= t '.how' %></h4></li>
      <li><%= link_to t('.contact'), new_phone_request_path %></li>
      <li><%= link_to t('.faq'), faq_path %></li>
      <li><% link_to t('.sponsor_a_friend'), sponsorships_path if current_customer %></li>
    </ul>
    <ul>
      <li><h4><%= t '.about' %></h4></li>
      <li><%= link_to t('.who'), info_path(:page_name => 'whoweare') %></li>
      <li><%= link_to t('.privacy'), info_path(:page_name => 'privacy') %></li>
      <li><%= link_to t('.conditions'), info_path(:page_name => 'conditions') %></li>
    </ul>
  </div>
</div>
   <!--   ==============   END FOOTER   ==============   -->
 <% if current_customer %>
<!-- Google Code for Clients &lt;30 days Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1033549176;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "2DPWCOjT1gEQ-Orq7AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1033549176/?label=2DPWCOjT1gEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% else %>
<div id="footer_jb"></div>
<% if I18n.locale == :fr %>
  <!-- Google Code for Visitors public Remarketing List -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1033549176;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "666666";
	var google_conversion_label = "ost4CODU1gEQ-Orq7AM";
	var google_conversion_value = 0;
	/* ]]> */
	</script>
	<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1033549176/?label=ost4CODU1gEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
<% else %>	
		<!-- Google Code for Visitors public NL Remarketing List -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 1033549176;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "666666";
		var google_conversion_label = "GlvaCMj11gEQ-Orq7AM";
		var google_conversion_value = 0;
		/* ]]> */
		</script>
		<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1033549176/?label=GlvaCMj11gEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
<% end %>		

<% end %>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PMD4QF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMD4QF');</script>
<!-- End Google Tag Manager -->