<div id="top" class="<%= "promo" if ENV['HOST_OK'] == "1" && cookies['url_promo'] %>">
  <div class="wrap">
    <% if current_customer %>
      <%= link_to t('.compte'), customer_path(:id => current_customer) %>
      <%= "#{link_to t('.logout'), sign_out_path, :id => :logout} <span>(#{current_customer.email})</span>" %>
    <% else %>
    &nbsp;
    <% end %>
  </div>
</div>
<ul id="lang">
  <%= "<li>#{link_to t('.view_mobile'), root_path(:mobile_site => 1)}</li>" if 1==1 || @browser.mobile? %>
  <li><%= link_to t('.conditions'), info_path(:page_name => :conditions, :anchor => :article3) if ENV['HOST_OK'] == "1" %></li>
  <% Locale.all.collect(&:short).collect do |locale| %>
    <li><%= switch_locale_link locale, {:class => I18n.locale.to_s == locale.to_s ? 'active' : 'nothing'} %></li>
  <% end %>
  <li class="wrap">
    <% if !current_customer %>
      <%= "#{link_to t('.login'), login_path, :id => :login}" %>
    <% end %>
  </li>
</ul>
<div id="wrap"> 
  <!--   ==============   HEADER   ==============   -->
  <div id="header" >
    <h1>
      <%= link_to t('.tagline'), root_path(:logo => 1, :promo => session[:promo]), :class => 'f-btn' %>
    </h1>
    <%= render :partial => 'layouts/menu2' unless @hide_menu %>
  </div>
  <!--   ==============   END HEADER   ==============   --> 
