<% if @jacob == 1 %>
<div class="jbwrapper">
  <div class="jbcontainer">
    <div class="jblogo"><a href="<%= php_path 'default.php' %>">DVDPost.be</a></div>
    <div class="jbtopnav">
      <ul class="top-nav">
        <li class="langues"><%= switch_locale_link :fr %></li>
        <li class="langues"><%= switch_locale_link :nl %></li>
        <li class="langues"><%= switch_locale_link :en %> </li>
        <li class="langues">
          <%= link_to t('.normal'), products_path(:kind => :normal) %>
        </li>
        <li><a class="login" href="<%= php_path 'login.php' %>">Login</a></li>
      </ul>
      <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
    <div class="breadcrumb"><a href="<%= php_path 'default.php' %>" class="link_selected"><%= t '.home' %> &gt;</a> <a href="<%= products_path %>"><%= t '.catalog' %></a></div>
  </div>
</div>
<% else %>
<div id="header_old">
	<!-- logotype -->
	<strong class="logo_old"><a href="/default.php">DVDPost.be</a></strong> 
	<!-- main menu -->
	<ul class="top-nav">
		<li class="langues"><a href ="<%= php_path 'faq_public.php' %>"><%= t ".help" %></a></li>
		  <li class="langues"><%= switch_locale_link :fr %></li>
      <li class="langues"><%= switch_locale_link :nl %></li>
      <li class="langues"><%= switch_locale_link :en %> </li>
      
		<li><a href="<%= php_path 'login.php' %>" class="login"><%= "TEXT_LOGIN_BTN" %></a></li>
	</ul>
	<ul class="menu">
		<li><a href="<%= php_path('default.php') %>" ><%= t('.default') %></a></li>
		<li><a href="<%= php_path('how_public.php') %>" ><%= t('.how') %></a></li>
		<li><a href="<%= products_path %>" class="active"><%= t('.catalog') %></a></li>
		<li><a href="<%= php_path('contact_public.php') %>" ><%= t('.contact') %></a></li>
		<% if session[:country_code] != 'NL'%>
		  <!--<li class="last-item"><span><a href="<%= php_path('mydvdshop_public.php') %>" ><%= t('.achat') %></a></span></li>-->
		<% end %>
	</ul>
	<!-- header -->
</div>
<% end %>