<div id="top">
  <div class="wrap">
    <% if current_customer %>
      <%= link_to t('.compte'), customer_path(:id => current_customer) %>
      <%= "#{link_to t('.logout'), sign_out_path, :id => :logout} <span>(#{current_customer.email})</span>" %>
    <% else %>
      <%= "#{link_to t('.login'), login_path, :id => :login}" %>
    <% end %>
  </div>
</div>
<ul id="lang">
  <% Locale.all.collect(&:short).collect do |locale| %>
    <li><%= switch_locale_link locale, {:class => I18n.locale.to_s == locale.to_s ? 'active' : 'nothing'} %></li>
  <% end %>
</ul>
<div id="wrap"> 
  <!--   ==============   HEADER   ==============   -->
  <div id="header" >
    <h1>
      <%= link_to t('.tagline'), root_path(:logo => 1), :class => 'f-btn' %>
    </h1>
    <%= render :partial => 'layouts/menu2' unless @hide_menu %>
  </div>
  <!--   ==============   END HEADER   ==============   --> 
