<!-- Navigation -->
<div id="nav-wrap">
  <ul id="nav">
    <% id = yield :body_id %>
    
    <li><%= link_to t('layouts.header.home'), root_path, {:id => 'nav1', :class => (( id == 'one-col') ? 'active': '')} %></li>
    <li><%= link_to t('layouts.header.explore'), products_path, {:id => 'nav2', :class => (( id == 'product_body') ? 'active': '')} %></li>
    <li><%= link_to t('layouts.header.wishlist'), wishlist_path, {:id => 'nav3', :class => (( id == 'mywhishlist') ? 'active': '')} %></li>
    <li><%= link_to t('layouts.header.compte'), customer_path(:id => current_customer), {:id => 'nav4', :class => (( id == 'moncompte') ? 'active': '')} if current_customer %></li>
    <li><%= link_to t('layouts.menu.contact'), messages_path, {:id => 'nav5', :class => (( id == 'message_body') ? 'active': '') }  %></li>
    <li><%= link_to t('layouts.header.summer_card'), sponsorships_path, {:id => 'nav6', :class => (( id == 'sponsorships') ? 'active': '')} %></li>
  </ul>
  <% form_for :search_filter, @filter, {:url => search_filters_path(), :html => {:id => 'search'}} do |f| %>
    <%= text_field_tag :search, (params[:search] || t('layouts.menu_adult.search')), {:id => 'search-field'} %>
    <% choose = params[:filter] || 'all' %>
    <div id="filters"> <a href="<%= root_path(:filter_id => 1) %>" id="search_filter"><%= t "layouts.menu_adult.#{choose}" %></a>
      <ul id='search_filter_detail'>
        <li>
          <h4><%= t('layouts.menu_adult.search') %> :</h4>
        </li>
        <li>
          <label>
          <%= radio_button_tag :filter, :all, (!params[:filter] || params[:filter] == 'all' ? true : false), {:class => 'filter_input', :id => 'all' } %>
          <span><span><%= t 'layouts.menu_adult.all' %></span></span>
          </label>
        </li>
        <li>
          <label>
            <%= radio_button_tag :filter, :dvd, (params[:filter] == 'dvd' ? true : false), {:class => 'filter_input', :id => 'dvd' } %>
          <strong><span><%= t 'layouts.menu_adult.dvd' %></span></strong>
          </label>
        </li>
        <li>
          <label class="blue">
            <%= radio_button_tag :filter, :bluray, (params[:filter] == 'bluray' ? true : false), {:class => 'filter_input', :id => 'bluray' } %>
          <strong><span><%= t 'layouts.menu_adult.bluray' %></span></strong>
          </label>
        </li>
        <li>
          <label class="green">
            <%= radio_button_tag :filter, :vod, (params[:filter] == 'vod' ? true : false), {:class => 'filter_input', :id => 'vod' } %>
          <strong><span><%= t 'layouts.menu_adult.vod' %></span></strong>
        </label>
        </li>
      </ul>
    </div>
    <input type="image" src="/images/search-btn-normal.png" alt="GO" />
  <% end %>
</div>
