<% id = yield :body_id %>
<ul id="nav" class="osc">
  
  <li><%= link_to t('layouts.header.home'), root_path, {:id => 'nav1', :class => (( id == 'hp') ? 'active': '')} %></li>
  <li><%= link_to t('layouts.header.explore'), products_path, {:id => 'nav2', :class => (( id == 'cl' || id == 'film-details') ? 'active': '')} %></li>
  <% if ENV['HOST_OK'] == "0" %>
    <li><%= link_to t('layouts.header.wishlist'), vod_wishlists_path, {:id => 'nav3', :class => (( id == 'mywhishlist') ? 'active': '')} %></li>
    <li><%= link_to t('layouts.menu.contact'), messages_path, {:id => 'nav5', :class => (( id == 'message_body') ? 'active': '') }  %></li>
    <% unless params[:kind] == :adult %>
    <li><%= link_to t('layouts.header.adult'), root_path(:kind => :adult), {:id => 'nav7'} %></li>
    <% end %>
  <% else %>
    <li><%= link_to t('layouts.header.price'), info_path(:page_name => 'price'), {:id => 'nav5', :class => (( params[:page_name] == 'price') ? 'active': '') }  %></li>
    <li><%= link_to t('layouts.menu.contact'), new_phone_request_path(), {:id => 'nav5', :class => (( id == 'message_body') ? 'active': '') }  %></li>
    <% unless params[:kind] == :adult %>
      <li><%= link_to t('layouts.header.adult'), root_path(:kind => :adult), {:id => 'nav7'} %></li>
    <% end %>
  <% end %>
</ul>
<% form_for :search_filter, @filter, {:url => search_filters_path(), :html => {:id => 'search'}} do |f| %>
  <%= text_field_tag :search, (params[:search] || t('layouts.menu_adult.search')), {:id => 'search-field'} %>
  <%= submit_tag 'search', :id => 'search-btn' %>
  <div style="display:none" id ="search_text"><%= t('layouts.menu_adult.search') %></div>
<% end %>
<% if params[:kind] == :adult %>
  <div id="back_classic"><%= link_to t('layouts.header.normal'), root_path(:kind => :normal), {:id => 'nav8'} %></div>
<% end %>
