<% id = yield :body_id %>
<ul id="nav" class="osc">

  <li><%= link_to t('layouts.header.explore'), products_path, {:id => 'nav2', :class => (( id == 'cl' || id == 'film-details') ? 'active': '')} %></li>
  <% if ENV['HOST_OK'] == "0" %>
    <li>
    <% if streaming_access? %>
      <%= link_to t('layouts.header.wishlist'), vod_wishlists_path, {:id => 'nav3', :class => (( id == 'mywhishlist') ? 'active': '')} %>
        <ul class="dropdown">
          <li><%= link_to t('.dvd'), wishlist_path %></li>
          <li><%= link_to t('.vod'), vod_wishlists_path %></li>
        </ul>
      </li>
    <% else %>
      <%= link_to t('layouts.header.wishlist_dvd'), wishlist_path, {:id => 'nav3', :class => (( id == 'mywhishlist') ? 'active': '')} %>
    <% end %>
    <% unless mobile_request? %>
      <li><%= link_to t('layouts.menu.contact'), messages_path, {:id => 'nav5', :class => (( id == 'message_body') ? 'active': '') }  %></li>
    <% end %>
    <% unless params[:kind] == :adult %>
      <li><%= link_to (mobile_request? ? t('layouts.header.adult_short') : t('layouts.header.adult')), products_path(:kind => :adult), {:id => 'nav7'} %></li>
    <% end %>
    <% if params[:kind] == :adult && mobile_request? %>
      <li><%= link_to t('layouts.header.normal_mobile'), root_path(:kind => :normal), {:id => 'nav8'} %></li>
    <% end %>
  <% else %>
    <li><%= link_to t('layouts.header.price'), info_path(:page_name => nederlands? ? 'price_dvd' : 'price'), {:id => 'nav5', :class => (( params[:page_name] == 'price') ? 'active': '') }  %></li>

    <% unless mobile_request? %>
      <li><%= link_to t('layouts.menu.contact'), new_phone_request_path(), {:id => 'nav5', :class => (( id == 'message_body') ? 'active': '') }  %></li>
    <% end %>
    <% unless params[:kind] == :adult || cookies[:adult_hide] == 1 %>
      <li><%= link_to (mobile_request? ? t('layouts.header.adult_short') : t('layouts.header.adult')), products_path(:kind => :adult), {:id => 'nav7'} %></li>
    <% end %>
    <% if params[:kind] == :adult && mobile_request? %>
      <li><%= link_to t('layouts.header.normal_mobile', :default => 'cine'), root_path(:kind => :normal), {:id => 'nav8'} %></li>
    <% end %>
  <% end %>
  <!--<#% if !nederlands? %>
    <li>
    <#%= link_to t('layouts.header.faq', :default => 'multi'), streaming_products_faq_path(:kind => :normal), {:id => 'nav9'} %>
  </li>
  <#% end %>-->

</ul>
<% if !mobile_request? or params[:controller] != 'info' %>
  <% form_for :search_filter, @filter, {:url => search_filters_path(), :html => {:id => 'search'}} do |f| %>
    <%= "<div align='center' class='search'>" if mobile_request? %>
      <%= text_field_tag :search, (params[:search] || t('layouts.menu_adult.search')), {:id => 'search-field', :class => "search-field"} %>
      <%= submit_tag 'search', :id => 'search-btn' %>
      <div style="display:none" id ="search_text"><%= t('layouts.menu_adult.search') %></div>
    <%= "</div>" if mobile_request? %>

  <% end %>
<% end %>
<% if params[:kind] == :adult && !mobile_request? %>
  <div id="back_classic"><%= link_to t('layouts.header.normal'), products_path(:kind => :normal), {:id => 'nav8'} %></div>
<% end %>
