<div class="content_step">
  <div id="catalogue">
    <h3><%= t '.discover' %></h3>
    <%= render :partial => 'home/index/carousel', :locals => {:carousel => @carousel} %>
    <div style="clear:both;"></div>
    <% if params[:kibd] == :normal %>
      <h3><%= t '.recommendation' %></h3>
      <p class="text_intro"><%= t '.recommendation_description' %></p>
      <p align="center"><%= render :partial => 'home/index/recommendations', :locals => {:products => @recommendations} %></p>
    <% end %>
  <div style="clear:both;"></div>
  <h3><%= t '.search' %></h3>
<p class="text_intro"><%= t '.search_description' %></p>
</div>