<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
  <title>
    <%= h yield(:title).blank? ? t('.title') : yield(:title) %>
  </title>
  <%= render :partial => 'layouts/meta' %>
  <link rel="SHORTCUT ICON" href="/images/favicon_<%= params[:kind] %>.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag 'reset', :media => :all %>
</head>
<body id="<%= yield :body_id %>" class="<%= params[:kind] %>" <%= yield :option %>>
      <%= yield %>
</body>
</html>
