<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
  <title>
    <%= h yield(:title).blank? ? t('.title') : yield(:title) %>
  </title>
  <%= render :partial => 'layouts/meta' %>
  <link rel="SHORTCUT ICON" href="/favicon.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<% style = yield(:style).blank? ? 'style' : yield(:style) %>
  <%= stylesheet_link_tag style, :media => :all %>
  <%= stylesheet_link_tag 'common', :media => :all %>
  <%= stylesheet_link_tag 'style_public', :media => :all if ENV['HOST_OK'] == "1" %>
	<% if params[:kind] == :adult %>
		<%= stylesheet_link_tag 'menux', :media => :all %>
	<% else %>
		<%= stylesheet_link_tag 'menu', :media => :all %>
	<% end %>
	
  <%= stylesheet_link_tag 'facebox', :media => :all %>
  <%= stylesheet_link_tag 'messages', :media => :all %>
  <%= stylesheet_link_tag 'fonts', :media => :all %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.custom', :media => :all %>
  <%= stylesheet_link_tag 'jquery_custom', :media => :all %>

  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.1.custom.min' %>
  <%= javascript_include_tag 'jquery.ba-url.min' %>
  <%= javascript_include_tag 'jquery.query-2.1.7' %>
  <%= javascript_include_tag 'jquery.cycle.all.min' %>
  <%= javascript_include_tag 'jquery.form' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag 'json2' %>
  <%= javascript_include_tag 'application' %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <!--[if IE 6]>
  <%= javascript_include_tag 'DD_belatedPNG' %>
  <%= javascript_include_tag 'ie6-dd-decl' %>
  <![endif]-->
	<%= yield :facebook %>
  <%= yield :head %>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<% if params[:kind] == :adult %>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-8475379-1"); //adult
		pageTracker._trackPageview();
		} catch(err) {}</script>
	<% else %>
	  <script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-7319107-1']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	    //privé
	  </script>
	<% end %>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-1121531-1"); //all
	pageTracker._trackPageview();
	} catch(err) {}</script>
</head>
<body id="<%= yield :body_id %>" class="<%= params[:kind] %>" <%= yield :option %>>
	<% if @theme && @theme.background_image == 1 && (@code.nil? || (@code && !@code.white_label)) %>
		<% if @theme.url %>
			<% path = eval(@theme.url) %>
		<% elsif @theme.banner_hp == 1 %>
			<% path = theme_path(:id => @theme.to_param, :wallpaper => 1 ) %>
		<% end %>
		<% if path %>
			<%= link_to @theme.name, path, :id => :bglink, :style => "background:url('#{@theme.image_wallpaper}') no-repeat #{@theme.background_attachment} center 0 #{@theme.background_color};" %>
		<% else %>
			<%= content_tag :div, @theme.name, :id => :bglink, :style => "background:url('#{@theme.image_wallpaper}') no-repeat #{@theme.background_attachment} center 0 #{@theme.background_color};" %>
		<% end %>
	<% end %>
	
  <div id="wrap">
    <!--   ==============   HEADER   ==============   -->
		<% if @code.nil? || (@code && !@code.white_label) %>
			<% if params[:kind] == :normal %>
	    	<%= ENV['HOST_OK'] == "1" ? render(:partial => 'layouts/header_public') : render(:partial => 'layouts/header') %>
			<% else %>
	  		<%= render(:partial => 'layouts/header_adult') %>
			<% end %>
		<% end %>
    <!--   ==============   END HEADER   ==============   -->
    <div class="container clearfix">
      <% if flash[:notice] %>
        <p class="notice">
          <%= flash[:notice] %>
        </p>
      <% end %>
      <% if flash[:error] %>
        <p class="flash_error">
          <%= flash[:error] %>
        </p>
      <% end %>
			<%= render :partial => 'layouts/call_to_action' if ENV['HOST_OK'] == "1" && (@code.nil? || (@code && !@code.white_label)) %>
      <%= yield %>
    </div>
    <!--   ==============   FOOTER   ==============   -->
    <%= render :partial => 'layouts/footer', :locals => {:partners => @partners} if @code.nil? || (@code && !@code.white_label) %>
    <!--   ==============   END FOOTER   ==============   -->
  </body>
</html>
