<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
  <title>
    <%= h yield(:title).blank? ? t_nl('.title') : yield(:title) %>
  </title>
  <%= render :partial => 'layouts/meta' %>
  <link rel="SHORTCUT ICON" href="/images/favicon_<%= params[:kind] %>.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css' />
  <link rel="apple-touch-icon" href="<%= image_path 'apple-touch-icon.png' %>" />
  <%= stylesheet_link_tag 'reset', :media => :all %>
  <%= stylesheet_link_tag 'main', :media => :all %>
 	<%= stylesheet_link_tag 'facebox', :media => :all %>
	<%= stylesheet_link_tag 'style', 'all', :media => :all if ((params[:controller] != 'home' && params[:controller] != 'products') && params[:kind] == :normal) || (params[:kind] == :adult && params[:controller] != 'products')  %>
	<%= stylesheet_link_tag 'chosen' %>
	<%= stylesheet_link_tag 'stylex', :media => :all if params[:kind] == :adult && params[:controller] != 'newsletters' && !(params[:controller] == 'streaming_products' && params[:action] =='faq') %>


	<%= javascript_include_tag 'http://code.jquery.com/jquery-1.9.1.min.js' %>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <%= javascript_include_tag 'application' %>
	
  <%= javascript_include_tag 'jquery.ba-url.min' %>
  <%= javascript_include_tag 'jquery.query-2.1.7' %>
  <%= javascript_include_tag 'jquery.cycle.all.min' %>
  <%= javascript_include_tag 'jquery.form' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag 'swfobject.js' %>
  <%= javascript_include_tag  'chosen' %>
  <%= javascript_include_tag  'history' %>


	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <!--[if IE 6]>
  	<%= javascript_include_tag 'ie' %>
  <![endif]-->
	<%= yield :facebook %>
  <%= yield :head %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(
      ['_setAccount', '<%= DVDPost.analytics_code[:all] %>'],
      ['_trackPageview'],
      <% if ENV['HOST_OK'] == "1" %>
      ['b._setAccount', '<%= DVDPost.analytics_code[:public] %>'],
      ['b._trackPageview']
      <% else %>
        <% if params[:kind] == :normal %>
          ['b._setAccount', '<%= DVDPost.analytics_code[:private] %>'],
          ['b._trackPageview']
        <% else %>
          ['b._setAccount', '<%= DVDPost.analytics_code[:adult] %>'],
          ['b._trackPageview']
        <% end %>
      <% end %>
      
    );

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      /*ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';*/
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body id="<%= yield :body_id %>" class="<%= params[:kind] %>" <%= yield :option %>>
    <!--   ==============   HEADER   ==============   -->
		<% if @code.nil? || (@code && !@code.white_label) %>
			<%= render(:partial => 'layouts/banner_promo') if ENV['HOST_OK'] == "1" && cookies['url_promo'] %>
    	<%= render(:partial => 'layouts/header') %>
		<% end %>
    <!--   ==============   END HEADER   ==============   -->
    <% if flash[:notice] %>
		<div class='flash_message'>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
		</div>
    <% end %>
    <% if flash[:error] %>
		<div class='flash_message'>
      <div class="flash_error">
        <%= flash[:error] %>
      </div>
		</div>
    <% end %>
    <% if ENV['HOST_OK'] == "0" && current_customer && current_customer.suspended? %>
    <div id='p_suspended'>
      <ul id='suspended'>
        <li><%= current_customer.suspended_notification %></li>
      </ul>
    </div>
    <% end %>
    <div class="container clearfix">
			<%= render :partial => 'layouts/call_to_action' if ENV['HOST_OK'] == "1" && (@code.nil? || (@code && !@code.white_label)) && params[:action] != 'unsubscribe' && params[:controller] != 'home' && params[:page_name] != 'promo' && params[:page_name] != 'price' && !(params[:controller] == 'streaming_products' && params[:action] == 'faq') %>
      <%= yield %>
    </div>
    <% if ENV['HOST_OK'] == "0" && current_customer.alert_price == false %>
      <div id="warning_price" style="display:none">
        <%= info_path(:page_name => :new_price) %>
      </div>
      <div id="check_alert" style="display:none">
        <%= t('.accept_condiction') %>
      </div>
    <% end %>
</div>
    <!--   ==============   FOOTER   ==============   -->
    <%= render :partial => 'layouts/footer', :locals => {:partners => @partners} if @code.nil? || (@code && !@code.white_label) %>
    <!--   ==============   END FOOTER   ==============   -->
    <% if cookies[:nb_pages_views].to_i == 3 and params[:controller] != 'public_newsletters' %>
      <div id='newsletters' style='display:none' class='action_face'><%= new_public_newsletter_path %></div>
    <% end %>
    <div style="display:none" id="bot"><%= @bot ? 1 : 0 %></div>
    <div style="display:none" id="env"><%= Rails.env %></div>
  </body>
</html>
