<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
  <title>
    <%= h yield(:title).blank? ? t('.title') : yield(:title) %>
  </title>
  <%= render :partial => 'layouts/meta' %>
  <link rel="SHORTCUT ICON" href="/favicon.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css' />

  <%= stylesheet_link_tag 'reset', :media => :all %>
  <%= stylesheet_link_tag 'main', :media => :all %>
 	<%= stylesheet_link_tag 'facebox', :media => :all %>
	<%= stylesheet 'style', 'all', :media => :all if ((params[:controller] != 'home' && params[:controller] != 'products') && params[:kind] == :normal) || params[:kind] == :adult  %>
	
	<%= stylesheet 'stylex', :media => :all if params[:kind] == :adult %>

  <%= stylesheet_link_tag 'style_public', :media => :all if ENV['HOST_OK'] == "1" %>

	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  

  <%= javascript_include_tag 'application' %>
	
  <%= javascript_include_tag 'jquery-ui-1.8.1.custom.min' %>
  <%= javascript_include_tag 'jquery.ba-url.min' %>
  <%= javascript_include_tag 'jquery.query-2.1.7' %>
  <%= javascript_include_tag 'jquery.cycle.all.min' %>
  <%= javascript_include_tag 'jquery.form' %>
  <%= javascript_include_tag 'facebox' %>

	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <!--[if IE 6]>
  	<%= javascript_include_tag 'ie' %>
  <![endif]-->
	<%= yield :facebook %>
  <%= yield :head %>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<% if params[:kind] == :adult %>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-8475379-1"); //adult
		pageTracker._trackPageview();
		} catch(err) {}</script>
	<% else %>
	  <script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-7319107-1']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	    //privé
	  </script>
	<% end %>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-1121531-1"); //all
	pageTracker._trackPageview();
	} catch(err) {}</script>
</head>
<body id="<%= yield :body_id %>" class="<%= params[:kind] %>" <%= yield :option %>>
    <!--   ==============   HEADER   ==============   -->
		<% if @code.nil? || (@code && !@code.white_label) %>
			<% if params[:kind] == :normal %>
	    	<%= render(:partial => 'layouts/header') %>
			<% else %>
	  		<%= render(:partial => 'layouts/header') %>
			<% end %>
		<% end %>
    <!--   ==============   END HEADER   ==============   -->
    <% if flash[:notice] %>
		<div class='flash_message'>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
		</div>
    <% end %>
    <% if flash[:error] %>
		<div class='flash_message'>
      <div class="flash_error">
        <%= flash[:error] %>
      </div>
		</div>
    <% end %>

    <div class="container clearfix">
			<%= render :partial => 'layouts/call_to_action' if ENV['HOST_OK'] == "1" && (@code.nil? || (@code && !@code.white_label)) %>
      <%= yield %>
    </div>
</div>
    <!--   ==============   FOOTER   ==============   -->
    <%= render :partial => 'layouts/footer', :locals => {:partners => @partners} if @code.nil? || (@code && !@code.white_label) %>
    <!--   ==============   END FOOTER   ==============   -->
  </body>
</html>
