<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
    <%= h yield(:title).blank? ? t('.title') : yield(:title) %>
  </title>
  <link rel="SHORTCUT ICON" href="/images/favicon_<%= params[:kind] %>.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag 'reset', :media => :all %>
</head>
<body id="<%= yield :body_id %>" class="<%= params[:kind] %>" <%= yield :option %>>
      <%= yield %>
</body>
</html>
