<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
  <title>
    <%= h yield(:title).blank? ? t('.title') : yield(:title) %>
  </title>
  <%= render :partial => 'layouts/meta' %>
	<%= stylesheet_link_tag 'chronicles/reset', :media => :all %>
	<%= stylesheet_link_tag 'chronicles/style', :media => :all %>
	<!--[if IE]>
  	<%= stylesheet_link_tag 'chronicles/ie', :media => :all %>
	<![endif]-->
  <link rel="SHORTCUT ICON" href="/favicon.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<% if params[:kind] == :adult %>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-8475379-1"); //adult
		pageTracker._trackPageview();
		} catch(err) {}</script>
	<% else %>
	  <script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-7319107-1']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	    //privé
	  </script>
	<% end %>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-1121531-1"); //all
	pageTracker._trackPageview();
	} catch(err) {}</script>
</head>
<div id="wrap"> 
  <!--   ==============   HEADER   ==============   -->
  <div id="header" >
    <h1><a href="http://" class="f-btn">Les Chroniques de NINA</a></h1>
    <ul id="nav" class="cf">
      <li>
				<%= link_to "Accueil", chronicles_path %>
			</li>
      <li>
				<%= link_to "A propos", chronicles_about_path %>
			</li>
      <li>
      	<%= link_to "dvdpost", root_path %>
      </li>
    </ul>
  </div>
  <!--   ==============   END HEADER   ==============   -->
  <div class="container clearfix"> 
  	<%= yield %>
	</div>
</body>
</html>