<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
  <title>
    <%= h yield(:title).blank? ? t('.title') : yield(:title) %>
  </title>
	<%= yield :facebook %>
  <%= render :partial => 'layouts/meta' %>
	<%= stylesheet_link_tag 'chronicles/reset', :media => :all %>
	<%= stylesheet_link_tag 'chronicles/style', :media => :all %>
	<%= stylesheet_link_tag 'facebox', :media => :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
	<%= javascript_include_tag 'facebox' %>
	<%= javascript_include_tag 'chronicles' %>
	
	
	
	<!--[if IE]>
  	<%= stylesheet_link_tag 'chronicles/ie', :media => :all %>
	<![endif]-->
  <link rel="SHORTCUT ICON" href="/favicon.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=254486224617136";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div id="wrap"> 
  <!--   ==============   HEADER   ==============   -->
  <div id="header" class="<%= I18n.locale %>" >
    <h1>
			<%= link_to "Les Chroniques de NINA", chronicles_path(), :class => "f-btn" %>
		</h1>
    <ul id="nav" class="cf">
      <li>
				<%= link_to t('.accueil'), chronicles_path %>
			</li>
      <li>
				<%= link_to t('.about'), chronicles_about_path %>
			</li>
      <li>
				<%= link_to t('.index'), chronicles_archive_path %>
			</li>
      <li>
      	<%= link_to t('.dvdpost'), ENV['HOST_OK'] == "1" ? php_path : root_path %>
      </li>
    </ul>
		<ul id="lang-nav">
	    <li class="langues selected">
				<%= link_to 'fr', params.merge(:locale => :fr) %>
			</li>
	    <li>|</li>
	    <li class="langues">
				<%= link_to 'nl', params.merge(:locale => :nl) %>
			</li>
	  </ul>
  </div>
  <!--   ==============   END HEADER   ==============   -->
  <div class="container clearfix"> 
  	<%= yield %>
	</div>
</body>
</html>