  <% if params[:kind] == :adult %>
    <% if actor.image_active %>
      <% 3.times do |i| %>
        <% i += 1 %>
        <%= image_tag actor.image(i), :width => 150 %>
      <% end %>
    <% end %>
  <% else %>
  <div class="detail-box">
    <div class="people">
      <%= image_tag actor.image(0), :height => 193 %>
    </div>
    <div class="detail-text" align="justify">
      <div id="title"><%= actor.name %></div>
      <p><em><%= actor.class.to_s == 'Actor' ? t('products.index.actor') : t('products.index.director') %></em><br></p>
      <div id="detail">
        <%= human_birth(actor) %>
        <%= human_death(actor) %>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <br />
  <% end %>
