<% if products && products.size > 0 %>
    <!-- Carousel -->
    <div id="titles-wrap" class='title-vod'>
    <div class="top"></div>
      <div id="carousel-wrap">
        <div id='streaming_popular' class="streaming">
          <ul class="ttls-nav-vod" id="recom">
            <li>
              <h2>
                <%= t '.title' %>
              </h2>
            </li>
          </ul>
        <div id="carousel_vod">
          <div class="pagination arrow_left">
            <%= will_paginate products, :previous_label => '', :next_label => '', :page_links => false, :container => false, :param_name => :popular_streaming_page %>
          </div>
          <span class="jc-items"><%= "#{product_page} of #{product_nb_page}" %></span>
          <div class="pagination arrow_right">
            <%= will_paginate products, :previous_label => '', :next_label => '', :page_links => false, :container => false, :param_name => :popular_streaming_page %>
          </div>
      
            <ul>
              <%= render :partial => 'products/streaming_product', :collection => products %>
            </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div class="end"></div>
    </div>
  </div>
<% end %>