<!--   ==============   MAIN CONTENT   ==============   -->
<div class="movie">
  <%= product_image_tag @product_image, :width => 100, :id => :img_detail, :alt => "#{@product_title} (#{@product.year})" %>  
  <div id="maincontent" >
  
    <h3><%= "#{@product_title} (#{@product.year})" %> <%= @product.bluray3d2d? || @product.bluray3d? ? '3D' : '' %></h3>
    <%= image_tag 'mobile/new.jpg' if @product.is_new? %>
    <%= image_tag 'mobile/coup_coeur.jpg' if @product.dvdposts_choice? %>
    <div id="votes">
      <div class="stars" id="rating-stars-<%= @product.to_param %>" product_id ="<%= @product.to_param %>">
        <%= render :partial => 'products/rating', :locals => {:product => @product, :background => @rating_color, :size => :long} %>
      </div>
      <span class="osc"><%= "(#{@product.rating_count} #{t('.count')})" %> | <%= link_to "(#{pluralize(@reviews.size, t('.review_item'))})", "#critics-wrap"  if @reviews.size > 0 %></span>
      <!-- #votes-wrap -->

   <div class="action">
     <% if @product.in_streaming_or_soon?(params[:kind], session[:country_id]) and streaming_access? %>
       <% if @product.streaming?(params[:kind], session[:country_id]) %>
         <%= render :partial => 'products/streaming',  :locals => {:product => @product, :source => @source, :response_id => params[:response_id]} %>
         <% credits = @product.streaming_products.first.credits %>
       <% end %>
         <br /><%= render :partial => 'products/wishlist', :locals => {:product => @product, :text => :short, :source => @source, :response_id => params[:response_id]} %>
         <% if @product.trailer? %>
            <br /><%= link_to(t('.trailer'), product_trailer_path(:product_id => @product.to_param, :source => @source), {:class => 'trailer', :id => 'trailer', :target => :_blank}) %>
         <% end %>
         <% if !current_customer || !@product.adult? || (current_customer && current_customer.svod_adult == 0) %>
          <%= render :partial => 'products/credit_vod', :locals => {:product => @product, :credits => credits} if credits && credits > 1 %>
         <% end %>  
         <% if params[:kind] == :adult && current_customer && current_customer.svod_adult == 0 %>
           <div class="ico">
             <%= image_tag "icon12h.gif", :align => 'absmiddle' %> <%= t '.vod_duration' %>
           </div>
         <% end %>
     <% else %>
       <%= render :partial => 'products/wishlist', :locals => {:product => @product, :text => :short, :source => @source, :response_id => params[:response_id]} %>
       <% if @product.trailer? %>
        
          <br /><%= link_to(t('.trailer'), product_trailer_path(:product_id => @product.to_param, :source => @source), {:class => 'trailer', :id => 'trailer', :target => :_blank}) %>
       <% end %>
     <% end %>
   </div>

</div>
</div>
</div>
<div style="clear: both;"></div>
<div id="film-descr">
  <%= link_to t('.svod_adult'), customers_svod_path, :id => :svod_adult if 1==0 && @product.adult? && @product.streaming?(params[:kind], session[:country_id]) and streaming_access? && @product.streaming_products.first.studio_id == 147 %>
  
  <h2>
    <%= t '.synopsis' %>
  </h2>
  <p><%= @product_description.text %></p>
   <% actors = @product.actors.collect{|actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param) }.join(' | ') %>
    <% if actors.size > 0 %>
      <h2>
        <%= t '.actors' %>
        <%= actors %>  
      </h2>
    <% end %>
    <% if @product.studio && @product.adult? %>
      <h2>
        <%= t('.studio') %>
        <%= link_to @product.studio.name, studio_products_path(:studio_id => @product.studio.to_param)%>
      </h2>
    <% end %>
    <% if @product.director && !@product.adult? %>
    <h2>
      <%= t('.directed_by') %>
      <%= link_to @product.director.name, director_products_path(:director_id => @product.director.to_param) %>
    </h2>
    <% end %>
    <h2>
      <%= t('.categories') %> : 
      <% if params[:kind] == :adult %>
        <%= @product.categories.collect{|category| link_to category.name, category_products_path(:category_id => category)}.join(' | ') %>
      <% else %>
        <%= @product.categories.active.collect{|category| link_to category.name, category_products_path(:category_id => category)}.join(' | ') %>
      <% end %>
    </h2>
        <h2><%= t '.country' %> : <%= @product.country.name %></h2>
        <h2><%= t '.audience' %> : <%=  @product.public.name %></h2>
    </div>
    
    <div id="formats">
  <h3><%= t('.detail') %></h3>
  <h2><%= t '.format_available' %> :  <span><%= available_on_other_media_title(@product, ' | ') %></span></h2>
  <h2><%= t'.audio' %> : <% audio_bubble = audio_bubbles(@product, 2, :span)%><%= audio_bubble[:audio] unless audio_bubble[:audio].blank?%></h2>
  <h2><%= t '.subtitles' %> : <% subtitles = subtitle_bubbles(@product, 2, :span) %><%= subtitles[:sub] unless subtitles[:sub].blank?%></h2>
  <h2><%= t '.duration' %> : <%= "#{@product.runtime} #{t '.minutes'}" %></h2>
  <h2><%= t '.picture' %> : <span><%= @product.picture_format.name if @product.picture_format %></span></h2>
  <h2><%= t '.sound' %> : <span><%= @product.soundtracks.collect{|soundtrack| soundtrack.name}.join(', ') %></span></h2>
  
  <% if @product.next == 1 and @product.available_at%>
  <div class="clearfix"></div>
  <div>
    <strong>
      <%= t '.available' %>
    </strong>
    <%= @product.available_at.strftime("%d/%m/%Y") if @product.available_at %>
  </div>
  <% end %>
</div>
<!-- #formats -->
<div id="rented-wrap">
  <%= render :partial => 'products/show/recommendations', :locals => { :rating_color => @rating_color, :products => @recommendations, :recommendation_nb_page => @recommendation_nb_page, :recommendation_page => @recommendation_page, :recommendation_response_id => @recommendation_response_id } if @recommendations && @recommendations.size > 0 %>
</div>
    <div id="critics-wrap">
      <h3><%= t('.members_critic') %></h3>
      
    
    <%= render :partial => 'products/show/critics', :locals => {:product => @product, :reviews_count => @reviews_count, :reviews => @reviews, :review_sort => @review_sort, :product_title => @product_title, :chronicle => @chronicle, :source => @source, :response_id => @response_id} %>
  </div><!-- #rented-wrap-->
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
